<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="header__top-inner header__top-inner--hidden">
				<div id="shop-list" class="shop-list">
					<a href="index-5ka.html" class="shop-link shop-item">
						<img src="img/5ka.png" alt="">
					</a>
					<a href="#" class="shop-link shop-item">
						<img src="img/karusel.png" alt="">
					</a>
					<a href="#" class="shop-link shop-item">
						<img src="img/perekrestok.png" alt="">
					</a>
					<a href="index-magnit.html" class="shop-link shop-item">
						<img src="img/magnit.png" alt="">
					</a>
					<a href="index-dixi.html" class="shop-link shop-item">
						<img src="img/dixi.png" alt="">
					</a>
					<a href="index-lenta.html" class="shop-link shop-item">
						<img src="img/lenta.png" alt="">
					</a>
					<a href="#" class="shop-link shop-item shop-item--disable">
						<img src="img/k&b.png" alt="">
					</a>
					<ul class="dropdown shop-list__dropdown shop-item">
						<li>
							<a href="#" class="dropdown__btn shop-list__btn-dropdown js-btn-dropdown">
								<img src="#" alt="">
							</a>
						</li>
						<li class="dropdown__inner">
							<ul class="dropdown__list"></ul>
						</li>
					</ul>
				</div>
				<ul class="dropdown languages">
					<li>
						<a href="#" class="dropdown__btn languages__btn-dropdown js-btn-dropdown">
							<span class="languages__text">Сменить язык</span>
							<div class="languages__img">
								<img src="img/russia.png" alt="">
							</div>
						</a>
					</li>
					<li class="dropdown__inner">
						<ul class="dropdown__list">
							<li>
								<a href="#" class="languages__btn-dropdown languages__choose">
									<span class="languages__name">Русский</span>
									<div class="languages__img">
										<img src="img/russia.png" alt="">
									</div>
								</a>
							</li>
							<li>
								<a href="#" class="languages__btn-dropdown languages__choose">
									<span class="languages__name">English</span>
									<div class="languages__img">
										<img src="img/united-kingdom.png" alt="">
									</div>
								</a>
							</li>
							<li>
								<a href="#" class="languages__btn-dropdown languages__choose">
									<span class="languages__name">Казахский</span>
									<div class="languages__img">
										<img src="img/kazakhstan.png" alt="">
									</div>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="header__nav">
		<div class="container">
			<div id="header-bottom" class="header__nav-inner">
				<a href="#" class="burger-menu">
					<span class="burger-menu__line">
						<span></span>
					</span>
					<span class="burger-menu__text">Меню</span>
				</a>
				<nav class="nav">
					<ul class="nav__list">
						<li>
							<a href="index.html" class="nav__link active">Главная</a>
						</li>
						<li>
							<a href="product.html" class="nav__link">продукт</a>
						</li>
						<li>
							<a href="winners.html" class="nav__link">Победители</a>
						</li>
						<li>
							<a href="prizes.html" class="nav__link">Призы</a>
						</li>
						<li>
							<a href="#" class="nav__link">Правила</a>
						</li>
					</ul>
					<ul class="nav__list">
						<li>
							<a href="faq.html" class="nav__link">Вопрос-ответ</a>
						</li>
						<li>
							<a href="feedback.html" class="nav__link">Обратная связь</a>
						</li>
						<li class="wrap-login active">
							<a href="profile.html" class="wrap-login__item logged-in">
								<span class="icon-enter"></span>
								<span>Личный кабинет</span>
							</a>
							<a href="#" class="wrap-login__item wrap-login__item--order login js-popup-button" data-popup="popup--login">
								<span class="icon-enter"></span>
								<span>Вход</span>
							</a>
						</li>
					</ul>					
				</nav>
				<div class="header__logo">
					<img src="img/alpen-logo.png" alt="">
				</div>
				<div class="wrap-login wrap-login--mobile">
					<a href="profile.html" class="wrap-login__item logged-in">
						<span class="icon-enter"></span>
						<span>кабинет</span>
					</a>
					<a href="#" class="wrap-login__item wrap-login__item--order login js-popup-button" data-popup="popup--login">
						<span class="icon-enter"></span>
						<span>Вход</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>