<header class="header">
	<div class="header__top header__top--other">
		<div class="container">
			<div class="header__top-inner header__top-inner--hidden">
				<div id="shop-list" class="shop-list">
					<a href="#" class="shop-link shop-item">
						<img src="img/5ka.png" alt="">
					</a>
					<a href="#" class="shop-link shop-item">
						<img src="img/karusel.png" alt="">
					</a>
					<a href="#" class="shop-link shop-item">
						<img src="img/perekrestok.png" alt="">
					</a>
					<a href="#" class="shop-link shop-item">
						<img src="img/magnit.png" alt="">
					</a>
					<a href="index-dixi.html" class="shop-link shop-item">
						<img src="img/dixi.png" alt="">
					</a>
					<a href="index-lenta.html" class="shop-link shop-item">
						<img src="img/lenta.png" alt="">
					</a>
					<a href="#" class="shop-link shop-item shop-item--disable">
						<img src="img/k&b.png" alt="">
					</a>
					<ul class="dropdown shop-list__dropdown shop-item">
						<li>
							<a href="#" class="dropdown__btn shop-list__btn-dropdown js-btn-dropdown">
								<img src="#" alt="">
							</a>
						</li>
						<li class="dropdown__inner">
							<ul class="dropdown__list"></ul>
						</li>
					</ul>
				</div>
				<ul class="dropdown languages">
					<li>
						<a href="#" class="dropdown__btn languages__btn-dropdown js-btn-dropdown">
							<span class="languages__text">Сменить язык</span>
							<div class="languages__img">
								<img src="img/russia.png" alt="">
							</div>
						</a>
					</li>
					<li class="dropdown__inner">
						<ul class="dropdown__list">
							<li>
								<a href="#" class="languages__btn-dropdown languages__choose">
									<span class="languages__name">Русский</span>
									<div class="languages__img">
										<img src="img/russia.png" alt="">
									</div>
								</a>
							</li>
							<li>
								<a href="#" class="languages__btn-dropdown languages__choose">
									<span class="languages__name">English</span>
									<div class="languages__img">
										<img src="img/united-kingdom.png" alt="">
									</div>
								</a>
							</li>
							<li>
								<a href="#" class="languages__btn-dropdown languages__choose">
									<span class="languages__name">Казахский</span>
									<div class="languages__img">
										<img src="img/kazakhstan.png" alt="">
									</div>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="header__nav header__nav">
		<div class="container">
			<div class="header__nav-inner header__nav-inner--other">
				<nav class="nav">
					<ul class="nav__list">
						<li>
							<a href="index.html" class="nav__link">
								<span>На главную</span>
								<span class="icon-to-main-mob-icon"></span>
							</a>
						</li>
					</ul>				
				</nav>
				<div class="header__logo">
					<img src="img/alpen-logo.png" alt="">
				</div>
			</div>
		</div>
	</div>
</header>