<div class="popup popup--slider popup--slider01">
	<div class="popup__wrap">
		<a href="#" class="popup__close js-close-popup"></a>
		<div class="popup__inner">
			<div class="popup__logo">
				<img src="img/maxfun-logo.png" alt="">
			</div>
			<div class="swiper-container products-slider">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="products-slider__img">
							<img src="img/Product/19.png" alt="">
						</div>
						<div class="products-slider__text">Шоколад молочный со взрывной карамелью, мармеладом и печеньем 160 г</div>
						<div class="btn-wrap btn-wrap--mt10">
							<a target="_blank" href="https://www.ozon.ru/context/detail/id/138885143/" class="btn btn--blue btn--small">Купить</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="products-slider__img">
							<img src="img/Product/20.png" alt="">
						</div>
						<div class="products-slider__text">Шоколад молочный с мармеладом со вкусом колы, попкорном и взрывной карамелью 160 г</div>
						<div class="btn-wrap btn-wrap--mt10">
							<a target="_blank" href="https://www.ozon.ru/context/detail/id/138885145/" class="btn btn--blue btn--small">Купить</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="products-slider__img">
							<img src="img/Product/21.png" alt="">
						</div>
						<div class="products-slider__text">Шоколад молочный "Тропический микс" <span>160 г</span></div>
						<div class="btn-wrap btn-wrap--mt10">
							<a target="_blank" href="https://www.ozon.ru/context/detail/id/149428278/" class="btn btn--blue btn--small">Купить</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="products-slider__img">
							<img src="img/Product/22.png" alt="">
						</div>
						<div class="products-slider__text">Шоколад молочный "Ягодный микс" 160 г</div>
						<div class="btn-wrap btn-wrap--mt10">
							<a target="_blank" href="#" class="btn btn--blue btn--small">Купить</a>
						</div>
					</div>
				</div>
				<div class="swiper-button-prev">
					<span class="icon-arrowSlider"></span>
				</div>
				<div class="swiper-button-next">
					<span class="icon-arrowSlider"></span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="popup popup--slider popup--slider02">
	<div class="popup__wrap">
		<a href="#" class="popup__close js-close-popup"></a>
		<div class="popup__inner">
			<div class="popup__logo">
				<img src="img/oreo-logo.png" alt="">
			</div>
			<div class="swiper-container products-slider">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="products-slider__img">
							<img src="img/Product/17.png" alt="">
						</div>
						<div class="products-slider__text">Шоколад молочный Oreo 95 г</div>
						<div class="btn-wrap btn-wrap--mt10">
							<a target="_blank" href="https://www.ozon.ru/context/detail/id/138885168/" class="btn btn--blue btn--small">Купить</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="products-slider__img">
							<img src="img/Product/18.png" alt="">
						</div>
						<div class="products-slider__text">Шоколад молочный Oreo с начинкой со вкусом арахисовой пасты и кусочками печенья 95 г</div>
						<div class="btn-wrap btn-wrap--mt10">
							<a target="_blank" href="https://www.ozon.ru/context/detail/id/140470350/" class="btn btn--blue btn--small">Купить</a>
						</div>
					</div>
				</div>
				<div class="swiper-button-prev">
					<span class="icon-arrowSlider"></span>
				</div>
				<div class="swiper-button-next">
					<span class="icon-arrowSlider"></span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="popup popup--slider popup--slider03">
	<div class="popup__wrap">
		<a href="#" class="popup__close js-close-popup"></a>
		<div class="popup__inner">
			<div class="popup__logo">
				<img src="img/alpen-logo.png" alt="">
			</div>
			<div class="swiper-container products-slider">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="products-slider__img">
							<img src="img/Product/1.png" alt="">
						</div>
						<div class="products-slider__text">Шоколад молочный 90 г</div>
						<div class="btn-wrap btn-wrap--mt10">
							<a target="_blank" href="https://www.ozon.ru/context/detail/id/138885147/" class="btn btn--blue btn--small">Купить</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="products-slider__img">
							<img src="img/Product/2.png" alt="">
						</div>
						<div class="products-slider__text">Шоколад молочный с дробленым фундуком 90 г</div>
						<div class="btn-wrap btn-wrap--mt10">
							<a target="_blank" href="https://www.ozon.ru/context/detail/id/138885148/" class="btn btn--blue btn--small">Купить</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="products-slider__img">
							<img src="img/Product/3.png" alt="">
						</div>
						<div class="products-slider__text">Шоколад молочный с фундуком и изюмом 90 г</div>
						<div class="btn-wrap btn-wrap--mt10">
							<a target="_blank" href="https://www.ozon.ru/context/detail/id/138885149/" class="btn btn--blue btn--small">Купить</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="products-slider__img">
							<img src="img/Product/4.png" alt="">
						</div>
						<div class="products-slider__text">Шоколад молочный с клубнично-йогуртовой начинкой 90 г</div>
						<div class="btn-wrap btn-wrap--mt10">
							<a target="_blank" href="https://www.ozon.ru/context/detail/id/138885138/" class="btn btn--blue btn--small">Купить</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="products-slider__img">
							<img src="img/Product/5.png" alt="">
						</div>
						<div class="products-slider__text">Шоколад молочный с чернично-йогуртовой начинкой 90 г</div>
						<div class="btn-wrap btn-wrap--mt10">
							<a target="_blank" href="https://www.ozon.ru/context/detail/id/138885139/" class="btn btn--blue btn--small">Купить</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="products-slider__img">
							<img src="img/Product/6.png" alt="">
						</div>
						<div class="products-slider__text">Шоколад молочный с нач-ой со вкусом Капучино 90 г</div>
						<div class="btn-wrap btn-wrap--mt10">
							<a target="_blank" href="https://www.ozon.ru/context/detail/id/138885140/" class="btn btn--blue btn--small">Купить</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="products-slider__img">
							<img src="img/Product/7.png" alt="">
						</div>
						<div class="products-slider__text">Шоколад из темного и белого шоколада 90 г</div>
						<div class="btn-wrap btn-wrap--mt10">
							<a target="_blank" href="https://www.ozon.ru/context/detail/id/138885151/" class="btn btn--blue btn--small">Купить</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="products-slider__img">
							<img src="img/Product/8.png" alt="">
						</div>
						<div class="products-slider__text">Шоколад белый с миндалём и кокосовой стружкой 90 г</div>
						<div class="btn-wrap btn-wrap--mt10">
							<a target="_blank" href="https://www.ozon.ru/context/detail/id/138885153/" class="btn btn--blue btn--small">Купить</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="products-slider__img">
							<img src="img/Product/9.png" alt="">
						</div>
						<div class="products-slider__text">Шоколад молочный арахис-кукурузные хлопья 90 г</div>
						<div class="btn-wrap btn-wrap--mt10">
							<a target="_blank" href="https://www.ozon.ru/context/detail/id/138885150/" class="btn btn--blue btn--small">Купить</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="products-slider__img">
							<img src="img/Product/10.png" alt="">
						</div>
						<div class="products-slider__text">Шоколад молочный с соленым арахисом и крекером 90 г</div>
						<div class="btn-wrap btn-wrap--mt10">
							<a target="_blank" href="https://www.ozon.ru/context/detail/id/138885152/" class="btn btn--blue btn--small">Купить</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="products-slider__img">
							<img src="img/Product/11.png" alt="">
						</div>
						<div class="products-slider__text">Шоколад молочный с соленым миндалем и карамелью 90 г</div>
						<div class="btn-wrap btn-wrap--mt10">
							<a target="_blank" href="https://www.ozon.ru/context/detail/id/138885154/" class="btn btn--blue btn--small">Купить</a>
						</div>
					</div>
				</div>
				<div class="swiper-button-prev">
					<span class="icon-arrowSlider"></span>
				</div>
				<div class="swiper-button-next">
					<span class="icon-arrowSlider"></span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="popup popup--slider popup--slider04">
	<div class="popup__wrap">
		<a href="#" class="popup__close js-close-popup"></a>
		<div class="popup__inner">
			<div class="popup__logo">
				<img src="img/dark-logo.png" alt="">
			</div>
			<div class="swiper-container products-slider">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="products-slider__img">
							<img src="img/Product/12.png" alt="">
						</div>
						<div class="products-slider__text">Шоколад горький 85 г</div>
						<div class="btn-wrap btn-wrap--mt10">
							<a target="_blank" href="https://www.ozon.ru/context/detail/id/143216249/" class="btn btn--blue btn--small">Купить</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="products-slider__img">
							<img src="img/Product/13.png" alt="">
						</div>
						<div class="products-slider__text">Шоколад темный 85 г</div>
						<div class="btn-wrap btn-wrap--mt10">
							<a target="_blank" href="https://www.ozon.ru/context/detail/id/143216248/" class="btn btn--blue btn--small">Купить</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="products-slider__img">
							<img src="img/Product/14.png" alt="">
						</div>
						<div class="products-slider__text">Шоколад темный с фундуком 85 г</div>
						<div class="btn-wrap btn-wrap--mt10">
							<a target="_blank" href="https://www.ozon.ru/context/detail/id/143216250/" class="btn btn--blue btn--small">Купить</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="products-slider__img">
							<img src="img/Product/15.png" alt="">
						</div>
						<div class="products-slider__text">Шоколад темный "Пикантная вишня" 85 г </div>
						<div class="btn-wrap btn-wrap--mt10">
							<a target="_blank" href="https://www.ozon.ru/context/detail/id/147545111/" class="btn btn--blue btn--small">Купить</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="products-slider__img">
							<img src="img/Product/16.png" alt="">
						</div>
						<div class="products-slider__text">Шоколад темный "Ароматный апельсин" 85г </div>
						<div class="btn-wrap btn-wrap--mt10">
							<a target="_blank" href="https://www.ozon.ru/context/detail/id/147545112/" class="btn btn--blue btn--small">Купить</a>
						</div>
					</div>
				</div>
				<div class="swiper-button-prev">
					<span class="icon-arrowSlider"></span>
				</div>
				<div class="swiper-button-next">
					<span class="icon-arrowSlider"></span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="popup popup--login">
	<div class="popup__wrap">
		<a href="#" class="popup__close js-close-popup"></a>
		<div class="popup__inner">
			<h2 class="title title--popup">Войти на сайт</h2>
			<form action="#" class="form form--popup">
				<div class="input-wrap">
					<div class="input-wrap__tooltip">Мобильный телефон</div>
					<input type="tel" name="phone">
				</div>
				<div class="input-wrap">
					<div class="input-wrap__tooltip">Пароль</div>
					<input type="password" name="password">
					<div class="text text--link text--underline text--fz14 text--pr20 text--right text--dinProMed">
						<a href="#" class="js-popup-button" data-popup="#">Не помнишь пароль?</a>
					</div>
				</div>
				<div class="btn-wrap btn-wrap--mt30">
					<button type="submit" class="btn btn--blue btn--popup">Войти</button>
				</div>
				<div class="text text--center text--mt25 text--dinProMed">
					<p>Впервые на сайте?</p>
					<a href="#" class="text text--link text--underline js-popup-button" data-popup="popup--reg">Зарегистрируйся!</a>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="popup popup--reg">
	<div class="popup__wrap">
		<a href="#" class="popup__close js-close-popup"></a>
		<div class="popup__inner">
			<h2 class="title title--popup">Регистрация</h2>
			<form action="#" class="form form--popup">
				<div class="input-wrap">
					<div class="input-wrap__tooltip">Фамилия</div>
					<input type="text" name="surname">
				</div>
				<div class="input-wrap">
					<div class="input-wrap__tooltip">Имя</div>
					<input type="text" name="name">
				</div>
				<div class="input-wrap">
					<div class="input-wrap__tooltip">Мобильный телефон</div>
					<input type="tel" name="phone">
				</div>
				<div class="input-wrap">
					<div class="input-wrap__tooltip">E-mail</div>
					<input type="e,ail" name="email">
				</div>
				<div class="input-wrap input-wrap--checkbox">
					<input id="rules" class="checkbox" type="checkbox" name="rules" required>
					<label for="rules" class="checkbox-text text text--fz12">Я согласен с <a href="#" class="text text--underline text--link">правилами акции</a></label>
				</div>
				<div class="input-wrap input-wrap--checkbox">
					<input id="personal" class="checkbox" type="checkbox" name="personalAgreement" required>
					<label for="personal" class="checkbox-text text text--fz12">Я согласен на обработку моих персональных данных</label>
				</div>
				<div class="captcha">
					<div class="text text--fz12 text--center">
						<p>Введи символы с картинки:</p>
					</div>
					<div class="captcha__wrap">
						<div class="captcha__img">
							<img src="img/nomber_captcha.jpg" alt="">
						</div>
						<span class="icon-arrowSlider"></span>
						<div class="captcha__send input-wrap">
							<input class="captcha__input" type="text" name="captcha">
						</div>
					</div>
				</div>
				<div class="btn-wrap btn-wrap--mt30">
					<button type="submit" class="btn btn--blue btn--popup">Зарегистрироваться</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="popup popup--code">
	<div class="popup__wrap">
		<a href="#" class="popup__close js-close-popup"></a>
		<div class="popup__inner">
			<h2 class="title title--popup">Подтверждение регистрации</h2>
			<p class="text text--center text--dinProMed text--mt10">Введи код, который мы отправили на телефон и на электронную почту:</p>
			<form action="#" class="form form--popup">
				<div class="input-wrap">
					<div class="input-wrap__tooltip">Код</div>
					<input type="text" name="code">
				</div>
				<div class="btn-wrap btn-wrap--mt15">
					<button type="submit" class="btn btn--blue btn--popup">Отправить</button>
				</div>
				<p class="text text--mt10 text--dinProMed text--link text--underline text--center">
					<a href="#">Отправить код повторно</a>
				</p>
			</form>
		</div>
	</div>
</div>
<div class="popup popup--bonus">
	<div class="popup__wrap">
		<a href="#" class="popup__close js-close-popup"></a>
		<div class="popup__inner">
			<div class="popup__img">
				<img src="img/piatorochka-card.png" alt="">
			</div>
			<p class="text text--center text--dinProMed text--mt10">Чтобы получать дополнительно 1 бонусный Альпен-коин за каждый чек из сети Пятёрочка, просто зарегистрируй свою ВЫРУЧАЙ-Карту.</p>
			<form action="#" class="form form--popup">
				<div class="input-wrap">
					<div class="input-wrap__tooltip">Номер ВЫРУЧАЙ-Карты</div>
					<input type="text" name="card">
				</div>
				<div class="btn-wrap btn-wrap--mt15">
					<button type="submit" class="btn btn--blue btn--popup">Подтвердить</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="popup popup--shops">
	<div class="popup__wrap">
		<a href="#" class="popup__close js-close-popup"></a>
		<div class="popup__inner">
			<h2 class="title title--popup">Выбор магазина</h2>
			<p class="text text--center text--dinProMed text--mt10">В каком магазине ты хочешь использовать свой сертификат?</p>
			<form action="#" class="form form--popup">
				<div class="input-wrap">
					<select name="shops">
						<option></option>
						<option>Ozon</option>
						<option>LitRes</option>
						<option>Zara</option>
						<option>Putin</option>
						<option>Zara Home</option>
					</select>
				</div>
				<div class="btn-wrap btn-wrap--mt15">
					<button type="submit" class="btn btn--blue btn--popup">Подтвердить</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="popup popup--upload">
	<div class="popup__wrap">
		<a href="#" class="popup__close js-close-popup"></a>
		<div class="popup__inner">
			<div class="iframe-wrap">
				<iframe src="https://tsenoanalizator.ru/receipt_frame/64e5df8b-3462-9996-58f5-0ec2e3edabd3/1/b68c5074a50831da4b3e0bf2de26b794?style=https%3a%2f%2ftestweb.ru.com%2falpengold%2fiframe.min.css" class="iframe"></iframe>
			</div>
		</div>
	</div>
</div>
<div class="popup popup--new-year js-popup-show">
	<div class="popup__wrap">
		<a href="#" class="popup__close js-close-popup"></a>
		<div class="popup__inner popup__inner--bg">
			<h2 class="title title--popup">Отличная Новость!</h2>
			<div class="text text--fz21 text--dinProBold text--center text--mt15">Мы продлеваем Золотую Лихорадку до Нового Года!</div>
			<p class="text text--center text--fz16 text--mt15">Вас ждет еще больше призов в заснеженных шахтах Золотой горы, а так же ежедневные розыгрыши золотых гаджетов. Следите за новостями и до встречи в декабре.</p>
			<div class="btn-wrap btn-wrap--center btn-wrap--mt30 btn-wrap--mb30">
				<a href="#" class="btn btn--blue js-close-popup">Закрыть</a>
			</div>
		</div>
	</div>
</div>
