.main {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	background-color: #00aee9;
	overflow: hidden;

	&--5ka,
	&--magnit {
		background-color: #ff1d0a;
	}

	&--dixi {
		background-color: #EF6800;
	}

	&--lenta {
		background-color: #273D8A;
	}

	&--magnit {

		.head--custom .head__gold-img {
			bottom: -15%;;
		}
	}
}

.head {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;

    &::before {
        content: '';
        background-image: linear-gradient(to left, #ffae00 0%, #fbde00 100%);
        left: 50%;
        transform: translateX(-50%);
        width: 120vw;
        border-radius: 0 0 100% 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        border-bottom: 55px solid #fff;
	}
	
	&--other {

		&::before {
			background: #F3D54F;
		}
	}

    &__bottom-text {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 6px;
    }

    &__inner {
        display: flex;
        position: relative;
        align-items: flex-start;
    }

    &__gold-pic {
        position: relative;
        width: 65%;
        flex-shrink: 0;
        margin-left: -7%;
	}
	
	&__gold-man {
		max-height: 450px;
	}

    &__gold-img {
        position: absolute;
        left: 75px;
        bottom: -24%;
        transform: scale(.7);
        transition: all .8s linear;
        width: 50%;

        &.active {
            transform: scale(1);
        }
    }

    &__content {
        width: 100%;
        padding-top: 20px;
    }

    &__logo {
        text-align: center;

        img {
            width: 120px;
		}
	}
	
	&__main-logo {
		text-align: center;
		margin-bottom: 10px;

		img {
			max-height: 100px;
			max-width: 100px;
			
			@include sm {
				max-height: 55px;
				max-width: 55px;
			}
		}

		&--dixi {

			img {
				max-width: none;
				max-height: 80px;

				@include sm {
					max-height: 68px;
					max-width: 50px;
				}
			}
		}

		&--lenta {

			img {
				max-width: none;
				max-height: 40px; 

				@include sm {
					max-height: 30px;
					max-width: 105px;
				}
			}
		}

		&--magnit {

			img {
				max-width: none;
				max-height: 35px; 
			}
		}
	}

    &__title {
        margin-top: 15px;
    }

    &__countdown {
        margin-top: 30px;
        position: relative;
    }

    &__countdown-close {
        position: absolute;
        width: 22px;
        top: -11px;
        right: 30px;
        cursor: pointer;
    }

    &__chocolate {
        text-align: center;
		margin-top: 20px;
	}

    &--custom {
        padding-bottom: 35px;

        .head__title {
            margin-top: 0;
        }

        .head__content {
            padding-top: 50px;
        }

        .head__chocolate {
			margin-top: 40px;
			
			&--animate {
				font-size: 20px;
				position: relative;
				top: .5em;
				width: 15.75em;
				height: 13.5em;
				margin-top: 0;
				margin: .5em auto 0;

				&.active {

					.head__chocolate-img--first {
						left: -2%;
					}
	
					.head__chocolate-img--third {
						left: 40%;
					}
	
					.head__chocolate-img--fourth {
						left: 63%;
					}
	
					.head__chocolate-img--fifth {
						left: 82%;
					}
				}
			}
		}
		
		.head__chocolate-img {
			position: absolute;
			max-height: 9.5em;
			bottom: 0;
			@include transitionEase(.8s);
	
			&--first {
				max-height: 10.75em;
				transform: rotate(-30deg);
				left: 0;
				bottom: 7%;
			}
	
			&--second {
				max-height: 8.75em;
				transform: rotate(-15deg);
				left: 20%;
				bottom: 20%;
			}
	
			&--third {
				transform: rotate(-10deg);
				left: 35%;
				bottom: 15%;
			}
	
			&--fourth {
				transform: rotate(-5deg);
				left: 50%;
				bottom: 16%;
				z-index: 1;
			}
	
			&--fifth {
				max-height: 9em;
				transform: rotate(15deg);
				left: 66%;
				bottom: 12%;
			}
		}

        .head__gold-pic {
            width: 64%;
            margin-left: -5%;
        }

        .head__gold-img {
            bottom: -17%;
            max-width: 377px;
        }

        .head__countdown {
            position: absolute;
            top: 20px;
            left: 50px;
            margin-top: 0;
            border-radius: 20px;
            background-image: linear-gradient(to left, #FFCD3C 0%, #E4B02F 100%);
            padding: 13px 25px;
            min-width: 285px;
        }
    }
}

.countdown {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: all .3s ease-out;
    opacity: 0;

    &--mt20 {
        margin-top: 20px;
    }

    &--mt8 {
        margin-top: 8px;
    }

    &__card {
        display: flex;
        align-items: flex-end;
        font-family: $futuraNewBold;
        color: #ffffff;
        text-transform: uppercase;

        & + .countdown__card {
            margin-left: 20px;
        }
    }

    &__value {
        font-size: 46px;
        line-height: 37px;

        &--min {
            font-size: 24px;
            line-height: 21px;
        }
    }

    &__name {
        font-size: 12px;
        margin-left: 5px;
    }

    &--custom {

        .countdown__value {
            font-size: 30px;
            line-height: 22px;
        }

        .countdown__name {
            margin-left: 0;
        }

        .countdown__card {
            color: #85312c;

            & + .countdown__card {
                margin-left: 13px;
            }
        }

        .countdown__value--min {
            font-size: 24px;
            line-height: 21px;
        }
    }

    &.active {
        opacity: 1;
    }
}

.steps {
    padding-top: 40px;
    position: relative;
    padding-bottom: 80px;
	
	&--other {
		padding-bottom: 0;
	}

	&--5ka {

		.steps__bg {
	
			&::before {
				background-image: $bgSection03;
				background-color: transparent;
			}
		}
	}

	&--dixi {

		.steps__bg {
	
			&::before {
				background-color: #EF6800;
			}
		}
	}

	&--lenta {

		.steps__bg {
	
			&::before {
				background-color: #273D8A;
			}
		}
	}

	&--magnit {

		.steps__bg {
	
			&::before {
				background-color: #ff1d0a;
			}
		}
	}

    &__bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;

        &::before {
            content: "";
            background-color: #00aee9;
            width: 180vw;
            border-radius: 0 0 100% 100%;
            top: 0;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
		}
    }

    .container {
        position: relative;
        z-index: 6;
    }

    &__inner {
        position: relative;
        z-index: 6;
	}
	
	&__list {
		display: flex;
		max-width: 900px;
		width: 100%;
		margin: 0 auto;

		@include md {
			flex-direction: column;
			align-items: center;
		}

		li {
			width: 33.3%;

			@include md {
				width: 100%;

				&:nth-child(n+2) {
					margin-top: 60px;
				}
			}
		}
	}

	&__item-inner {
		max-width: 250px;
		width: 100%;
		margin: 0 auto;
	}

	&__item-img {
		text-align: center;
		margin-bottom: 15px;

		img {
			max-height: 130px;
		}
	}

    &__content {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
    }

    &__img {
        display: flex;
        align-items: flex-end;
        height: 115px;
		justify-content: center;
		
		img {
			max-height: 120px;
		}
    }

    &__card {
        width: 100%;
    }
}

.statistics {
    background-color: #fff;
    padding: 110px 0;
    margin: -80px 0;

    &__inner {
        display: flex;
		justify-content: space-between;
		position: relative;
        z-index: 6;
    }

    &__card {
        text-align: center;
        width: 100%;
    }
}

.prize-main {
    padding: 80px 0 115px;
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
        content: "";
        background: url("/img/mountain-golden.png") no-repeat bottom;
        width: 180vw;
        border-radius: 100% 100% 0 0;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        background-size: 100vw;
    }

    &::before {
        z-index: 2;
        opacity: .4;
    }

    &::after {
        background: linear-gradient(to left, #ffae00 0%, #fbde00 100%);
    }

    &__inner {
        position: relative;
        z-index: 6;
    }

    &__card {
        text-align: center;
    }

    &__content {
        overflow: hidden;
        margin-top: 40px;
        position: relative;
    }

    &__img {
        align-items: center;
        height: 170px;
		justify-content: center;
		
		img {
			max-height: 160px;
		}
    }

    .swiper-custom-button-prev,
    .swiper-custom-button-next {
        opacity: 0;
        pointer-events: none;
    }
}

%rounded {
	content: "";
	left: 0;
	right: 0;
	position: absolute;
	height: 160px;
}

.winners-main {
	padding: 150px 0 0;
	position: relative;
	z-index: 2;
	
	&:before {
		@extend %rounded;
		background: url("../img/rounded-img02.png") no-repeat center center;
		background-size: cover;
        top: 0;
	}

	&:after {
		@extend %rounded;
		background: url("../img/rounded-img01.png") no-repeat center center;
		background-size: cover;
		bottom: 0;
	}

	&__wrap {
		background-color: #F3D54F;
		position: relative;
	}

	&__inner {
		position: relative;
		max-width: 1000px;
		width: 100%;
		margin: 0 auto;
		height: 0;
		min-height: 380px;

		&:before {
			content: "";
			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: url("../img/glares.png") no-repeat center center;
			background-size: contain;
			min-width: 1000px;
			margin-left: 50%;
			transform: translateX(-50%);
		}
	}

	&__box {
		height: 0;
		min-height: 100%;
		position: relative;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 0 15px;

		&--magnit {
			max-width: 500px;
			margin: 0 auto;
		}

		.text {
			width: 100%;

			a {
				text-decoration: underline;
			}
		}
	}

	&__img {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		max-height: 360px;
		min-width: 930px;
	}

	&__bg-other {
		background-color: $bg02;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		height: 100vh;
	}
}

.prizes-main {
	padding-top: 35px;
	padding-bottom: 15px;

	&--magnit {
		background-color: #f3d54f;
	}
}

.prizes-list {
	max-width: 850px;
	width: 100%;
	margin:  30px auto 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	li {

		&:nth-child(odd) {
			margin-top: 50px;
		}
	}

	&__inner {
		text-align: center;
	}

	&__img {
		position: relative;

		img {
			max-height: 190px;
		}
	}

	&__count-wrap {
		position: absolute;
		top: -10px;
		right: -10px;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background-color: #E30613;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		span {
			display: block;
		}
	}

	&__count {
		line-height: 15px;
		font-size: 20px;
	}
}

.promo-info {
	overflow: hidden;
	position: relative;
	z-index: 6;

    &__inner {
        position: relative;
	}

	&__slide {
		height: auto;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			background-image: linear-gradient(to bottom, #ff1d0a 0%, #ff5546 51%, #ff1d0a 100%);
		}

		&--lenta {

			&:before {
				background: #273D8A;
			}
		}

		&--dixi {

			&:before {
				background: #EF6800;
			}
		}

		&--magnit {

			&:before {
				background: #E30613;
			}
		}
	}
	
	&__slide-inner {
		padding: 75px 0 130px;
	}

    &__card {
		display: flex;
		justify-content: center;
		margin-top: 70px;
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35%;
		flex-shrink: 0;
		
		img {
			max-height: 230px;
		}
    }

    &__text {
        flex-shrink: 0;
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
		text-align: center;
		
		.text {
			width: 100%;
		}
    }

    .swiper-custom-button-prev{
        left: 13%;
    }

    .swiper-custom-button-next {
        right: 13%;
    }
}

@keyframes cloudsMove {
	0% {
		background-position-x: 0px;
	}

	100% {
		background-position-x: -10000px;
	}
};

@keyframes opacityBlock {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

// Section----------------
.section {
	flex: 1 0 auto;
	position: relative;
	z-index: 1;

	&--main {
		background-image: $bgSection01;
		padding: 70px 0 150px;

		@include sm {
			padding: 50px 0 150px;
		}
	}

	&--winners {
		padding: 70px 0 40px;
		background-image: $bgSection02;

		&:before {
			content: "";
			position: absolute;
			z-index: -2;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: .25;
			background: url("../img/mountain-golden.png") no-repeat center center;
			background-size: cover;
		}

		&:after {
			content: "";
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: url("../img/Coins.png") repeat-y center center;
		}

		@include sm {
			padding: 50px 0 40px;
		}
	}

	&--error {
		background-image: linear-gradient(0deg, #6F4CB1 44%, #373586 100%);
		padding: 100px 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			background: url("../img/stars-bg.png") no-repeat center 20%;
			background-size: 70%;
		}

		.container {
			max-width: 500px;
		}
	}

	&--clouds {

		&:before {
			content: "";
			position: absolute;
			z-index: -1;
			top: -350px;
			left: 0;
			animation: cloudsMove 200s alternate infinite;
			bottom: 0;
			width: 100%;
			background: url("../img/clouds03.png") repeat-x center center;
		}
	}

	&--profile {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		overflow: hidden;

		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 200px;
			background: url("../img/svg/Yellow.svg") no-repeat center center;
			background-size: cover;
		}

		& > .container {
			flex-grow: 1;
		}
	}

	&--animate {

		.section__mountain-gold {
			transform: scale(2);

			@include sm {
				transform: scale(1.8);
			}
		}

		.section__mountain03 {
			left: -250px;

			@include lg {
				left: -400px;
			}
		}

		.section__mountain04 {
			right: -250px;

			@include lg {
				right: -400px;
			}
		}

		.section__clouds01,
		.section__clouds02 {
			left: 35%;
		}

		.profile__bottom {
			animation: opacityBlock .6s ease .5s alternate;
			animation-fill-mode: forwards;
		}
	}

	&__img-error {
		max-width: 450px;
		position: relative;
		top: 105px;

		img {
			min-width: 450px;
			max-height: 200px;
			margin-left: 50%;
			transform: translateX(-50%);
		}
	}

	&__mountain-gold {
		position: relative;
		top: 200px;
		margin-top: -150px;
		z-index: -1;
		max-height: 450px;
		transition: max-height .5s ease, transform 1s ease;
	}

	&__mountain01 {
		position: absolute;
		z-index: -1;
		bottom: 0;
		left: -250px;
		max-height: 200px;

		@include xs {
			left: -150px;
			min-width: 450px;
		}
	}

	&__mountain02 {
		position: absolute;
		z-index: -1;
		bottom: 0;
		right: -200px;
		max-height: 230px;

		@include xs {
			display: none;
		}
	}

	&__mountain03 {
		position: absolute;
		z-index: -1;
		bottom: 0;
		left: 0;
		max-height: 450px;
		min-width: 580px;
		transition: left 1s ease, max-height .5s ease;
	}

	&__mountain04 {
		position: absolute;
		z-index: -1;
		bottom: 0;
		right: 0;
		max-height: 350px;
		min-width: 678px;
		transition: right 1s ease, max-height .5s ease;
	}

	&__clouds01 {
		position: absolute;
		bottom: 0;
		z-index: -1;
		left: 50%;
		transform: translateX(-50%);
		max-height: 470px;
		min-width: 1775px;
		transition: left 1.5s ease;
	}

	&__clouds02 {
		position: absolute;
		z-index: -2;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		max-height: 270px;
		min-width: 1090px;
		transition: left 1s ease;
	}
}

// Profile----------------
.profile {
	max-width: 1150px;
	margin: 0 auto;
	width: 100%;
	color: $text01C;

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__empty {
		width: 215px;
	}

	&__info {
		text-align: center;
	}

	&__name {
		font-family: $dinProBold;
		font-size: 21px;
	}

	&__data-info {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 10px;
		color: #F3D54F;
		font-family: $dinProBold;
		font-size: 12px;
	}

	&__data-phone {
		margin-left: 20px;
	}

	&__exit {
		margin-top: 10px;
		font-size: 14px;
		display: inline-block;
		@include transitionEase(.2s);

		&:hover {
			color: #F3D54F;
		}
	}

	&__info-point {
		font-family: $dinProBold;
		display: flex;
		align-items: center;
	}

	&__point {
		display: flex;
		align-items: center;
	}

	&__point-img {
		position: relative;

		&:before {
			content: "";
			position: absolute;
			z-index: -1;
			top: -20px;
			left: -45px;
			background: url("../img/shine.png") no-repeat center center;
			background-size: contain;
			width: 115px;
			height: 105px;
		}

		img {
			max-height: 70px;
		}
	}

	&__point-num {
		font-size: 50px;
		line-height: 1em;
		margin: 0 8px;
	}

	&__center {
		margin-top: 50px;
	}

	&__bottom {
		margin-top: 35px;
	}
}

.tabs {
	font-family: $nexascriptBold;
	font-size: 21px;
	display: flex;
	justify-content: center;

	@include sm {
		font-size: 15px;
	}

	@include xs {
		font-size: 13px;
	}

	&__item {

		&:nth-child(n+2) {
			margin-left: 1.6em;

			@include xs {
				margin-left: .5em;
			}
		}

		&.active {

			a {
				background-color: $bg02;
				color: $text02C;

				&:hover {
					color: $text02C;
				}
			}
		}
	}

	a {
		display: inline-block;
		padding: .5em;
		line-height: 1em;
		min-width: 7.6em;
		text-align: center;
		border-radius: 1.2em;
		background-color: $btn01B;
		@include transitionEase(.3s);

		@include xs {
			min-width: 7em;
		}

		&:hover {
			color: #F3D54F;
		}
	}
}

.tabs-content {
	margin-top: 12px;

	&__item {
		display: none;

		&.active {
			display: block;
		}
	}
}

%zigzag {
	content: "";
	position: absolute;
	bottom: -2px;
	left: 0;
	right: 0;
	height: 5px;
}

.box-checks {

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -15px;
	}

	&__item {
		padding: 15px;
		max-width: 280px;
		width: 100%;

		&--empty {
			padding: 0;
		}
	}

	&__inner {
		display: flex;
		flex-direction: column;
		background-color: $bg02;
		border: {
			top: 1px solid $bg02;
			left: 1px solid $bg02;
			right: 1px solid $bg02;
		}
		border-radius: 20px 20px 0 0;
		min-height: 285px;
		height: 0;
		position: relative;
		padding: 18px 0;

		&--add {
			align-items: center;
			justify-content: center;
			background-color: rgba(255, 255, 255, .1);
			font-size: 18px;
			font-family: $dinProMed;

			&:after {
				@extend %zigzag;
				height: 7px;
				background: url("../img/svg/zigzag.svg") no-repeat center center;
				background-size: cover;
			}

			a {
				margin: auto;
			}

			span {
				text-decoration: underline;
			}
		}

		&--added {

			&:after {
				@extend %zigzag;
				bottom: -4px;
				background: url("../img/svg/zigzagWhite.svg") no-repeat center center;
				background-size: cover;
			}
		}

		&--big {
			min-height: 315px;
		}
	}

	&__info-main {
		padding: 0 18px 18px;
		color: $textMainC;
		font-size: 12px;
		height: 100%;

		&--cancel {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.box-checks__info-list {
				flex-grow: 1;
			}
		}
	}

	&__info-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 15px;
		border-bottom: 1px solid $bg03;
	}

	&__img {
		display: block;
		overflow: hidden;
		border-radius: 50%;
		max-width: 60px;
		
		img {
			max-height: 60px;
		}
	}

	&__info-list {

		li {
			display: flex;

			&:nth-child(n+2) {
				margin-top: 8px;
			}
		}
	}

	&__name {
		min-width: 85px;

		&--w40 {
			min-width: 40px;
		}
	}

	&__chkeck-info {
		font-family: $dinProBold;
		padding-left: 10px;

		&--p5 {
			padding-left: 5px;
		}

		&--shop {
			max-width: 125px;

			img {
				max-height: 25px;
			}
		}

		&--point {
			display: flex;
		}

		&--link {
			color: $link02C;
			display: flex;
			align-items: center;

			.icon-why {
				margin-left: 5px;
				font-size: 15px;
			}
		}
	}

	&__info-center {
		padding-top: 15px;
		
		li {

			&:nth-child(n+2) {
				margin-top: 20px;
			}
		}
	}

	&__point {
		display: flex;
		flex-shrink: 0;
	}

	&__point-img {

		img {
			max-height: 30px;
		}
	}

	&__point-num {
		padding: 0 5px;
		font-size: 30px;
		line-height: 1em;
		font-family: $dinProBold;
		letter-spacing: -2px;
	}

	&__point-bonus {
		color: #fbde00;
	}

	&__point-bonus-num {
		font-size: 30px;
		line-height: 1em;
		font-family: $dinProBold;
		letter-spacing: -2px;
	}
}

.box-prize {

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -15px;
	}

	&__item {
		padding: 15px;
		max-width: 280px;
		width: 100%;

		&--empty {
			padding: 0;
		}
	}

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: $bg02;
		border-radius: 20px;
		min-height: 250px;
		height: 0;
		padding: 20px;
		color: $textMainC;
		text-align: center;
		font-family: $dinProMed;
		font-size: 14px;
	}

	&__img {

		img {
			max-height: 80px;
		}
	}

	&__title {
		font-family: $dinProBold;
		font-size: 16px;
		width: 100%;
	}

	&__text {
		position: relative;
		padding-bottom: 18px;
	}

	&__send {
		line-height: 20px;
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		color: $text03C;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__text {

		.dropdown__inner {
			right: -20px;
			left: -20px;

			a {
				display: block;
				padding: 5px 0;
			}

			img {
				max-height: 20px;
			}
		}
	}

	&__choose-shop {
		color: $text02C;
		text-decoration: underline;
	}
}

// Prizes----------------
.prizes {
	max-width: 875px;
	width: 100%;
	margin: 50px auto 0;
	display: flex;
	justify-content: space-between;

	&__item {
		text-align: center;
		flex: 0 1 255px;
	}

	&__img {

		img {
			max-height: 160px;
		}
	}

	&__info {
		margin-top: 15px;
	}

	&__text {
		margin-top: 10px;
		color: $text01C;
		font-family: $dinProMed;
	}
}

// Winners---------------
.winners {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;

	&__people {
		margin-bottom: 30px;

		.text {
			max-width: 450px;
			width: 100%;
			margin: 15px auto 0;
		}
	}

	&__slider {
		margin: 30px 0 0;
		text-align: center;

		.swiper-custom-button-prev,
		.swiper-custom-button-next {
			display: none;
			transform: translateY(-50%);

			@include sm {
				display: block;
			}
		}

		.swiper-custom-button-next {
			right: 10px;
		}

		.swiper-custom-button-prev {
			left: 10px;
		}

		.text {
			margin-top: 5px;
		}
		// .swiper-slide {
		// 	height: auto;
		// 	max-height: 150px;
		// }
	}

	&__title {
		margin-bottom: 5px;
		color: #fff;
		font-size: 18px;
		font-family: $nexascriptBold;
	}

	&__slider-img {
		border-radius: 20px;
		width: 160px;
		height: 160px;
		margin: 0 auto;
		background-color: rgba(255, 153, 0, .4);
		border: 1px solid $bg02;
		position: relative;
		
		img {
			max-height: 105px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&--custom {

			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				right: -35px;
				width: 100px;
				height: 80px;
				background: url("../img/prize-winner\'s.png") no-repeat center center;
				background-size: contain;
			}

			img {
				width: 100%;
				min-height: 100%;
			}
		}
	}

	&__video {
		position: relative;
		display: block;
		border-radius: 20px;
		max-width: 240px;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		overflow: hidden;

		.icon-play {
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 50px;
		}

		img {
			display: block;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			max-height: 180px;
		}

		iframe {
			width: 100%;
			height: 100%;
		}
	}

	&__info {
		max-width: 720px;
		width: 100%;
		margin: 0 auto;
	}

	&__info-inner {
		margin-top: 30px;
		padding: 20px 0 40px;
		background-color: $bg02;
		border-radius: 20px;
	}

	&__info-top {
		padding: 0 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__info-table {
		margin-top: 15px;
		margin-left: 60px;
		padding-right: 15px;
		height: 350px;
	}
}

// Table--------------------
.table {
	font-size: 16px;
	font-family: $dinProMed;
	width: 100%;
	border-spacing: 0 1.25em;

	&__prize {
		display: flex;
		align-items: center;
	}

	&__prize-icon {
		display: block;
		width: 27px;
		height: 20px;

		&--sert1000 {
			background: url("../img/svg/prize01.svg") no-repeat center center;
			background-size: 25px 15px;
		}

		&--sert5000 {
			background: url("../img/svg/prize05.svg") no-repeat center center;
			background-size: 25px 15px;
		}

		&--sert300 {
			background: url("../img/svg/prize04.svg") no-repeat center center;
			background-size: 25px 15px;
		}

		&--mob {
			background: url("../img/svg/prize02.svg") no-repeat center center;
			background-size: 13px 20px;
		}

		&--coupon {
			background: url("../img/svg/prize03.svg") no-repeat center center;
			background-size: 24px 16px;
		}
	}

	&__prize-name {
		font-family: $dinProBold;
		margin-left: 10px;
	}
}

// Products-----------------
.products {
	max-width: 1000px;
	width: 100%;
	margin: 50px auto 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	&__item {
		text-align: center;

		a {
			display: inline-block;
		}
	}

	&__img-title {

		img {
			max-height: 230px;
		}
	}

	&__logo {
		margin-top: 30px;

		img {
			max-height: 60px;
		}
	}
}

.products-slider {
	margin-top: 30px;

	.swiper-slide {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		height: auto;
	}

	.swiper-button-prev {
		transform: rotate(180deg);
	}

	.swiper-button-prev,
	.swiper-button-next {
		top: 100px;
		margin-top: 0;
		width: 35px;
		background-image: none;

		span {
			font-size: 40px;

			&:before {
				color: $bg01;
			}
		}
	}

	&__img {

		img {
			max-height: 220px;
		}
	}

	&__text {
		margin-top: 20px;
		max-width: 180px;
		width: 100%;
		font-family: $dinProMed;
		flex-grow: 1;

		span {
			white-space: nowrap;
		}
	}
}

//Feedback--------------
.feedback {
	max-width: 600px;
	width: 100%;
	margin: 35px auto 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	&__col {
		width: 47%;

		.input-wrap {

			&:nth-child(n+2) {
				margin-top: 10px;
			}
		}
	}

	.captcha {
		width: 100%;
		max-width: 300px;
		margin: 20px auto 0;

		.icon-arrowSlider {
			margin: 0 10px 0;
		}
	}

	input,
	textarea {
		border: 1px solid $bg02;
		padding: .9em 1.2em;
	}

	textarea {
		min-height: 220px;
		max-height: 220px;
	}

	.select2-container {

		.select2-selection--single {
			border: 1px solid $bg02;
		}
	}

	.select2-dropdown {
		border: 1px solid $bg02;
	}
} 

// FAQ------------------
.faq {
	max-width: 950px;
	width: 100%;
	margin: 35px auto 0;
	padding: 50px 20px;
	border-radius: 25px;
	background-color: $bg02;

	@include xs {
		padding: 50px 10px;
		margin: 15px auto 0;
	}

	&__inner {
		height: 400px;

		.os-scrollbar-vertical {
			right: 0;
		}
	}

	&__list {
		font-family: $dinProMed;
		padding-left: 30px;

		@include sm {
			padding-left: 0;
		}

		& > li {
			user-select: none;

			&:nth-child(n+2) {
				margin-top: 35px;
			}

			&.active {

				.faq__title {
					color: $textMainC;

					span {
						background-color: #F2D44F;

						&:after {
							opacity: 0;
						}
					}
				}
			}
		}
	}

	&__title {
		position: relative;
		padding-left: 35px;
		padding-right: 20px;
		cursor: pointer;
		color: $text02C;
		font-size: 21px;
		display: inline-block;
		transition: color .2s ease;

		span {
			position: absolute;
			top: 2px;
			left: 0;
			border-radius: 50px;
			width: 20px;
			height: 20px;
			background-color: $bg01;
			transition: background-color .2s ease;

			&:before,
			&:after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 10px;
				height: 2px;
				background-color: $bg02;
				transition: opacity .2s ease;
			}

			&:after {
				content: "";
				width: 2px;
				height: 10px;
			}
		}
	}

	&__text {
		display: none;
		padding-left: 35px;
		padding-right: 20px;
		margin-top: 15px;
	}
}