// Btn------------------
.btn-wrap {

	&--center {
		text-align: center;
	}

	&--mb30 {
		margin-bottom: 30px;
	}

    &--mt50 {
        margin-top: 30px;
    }

    &--mt30 {
        margin-top: 30px;
	}

	&--mt20 {
        margin-top: 20px;
	}
	
	&--mt10 {
        margin-top: 10px;
	}

	&--mt15 {
        margin-top: 15px;
	}
	
	&--w100 {
		width: 100%;
	}

	&--mminus {
		margin: 0 -1px;
	}
}

.btn {
	font-family: $futuraNewBold;
	display: inline-block;
	text-align: center;
	color: $text01C;
	font-size: 18px;
	text-transform: uppercase;
	line-height: 1em;
    padding: .85em 1.1em;
	border-radius: 1.6em;
	min-width: 13.3em;
	transition: all .2s ease-out;
	
	&--small {
		font-size: 14px;
		min-width: 7.1em;
	}

    &--blue {
        background-color: $btn01B;
        color: $text01C;

        &:hover {
            background-color: #009fea;
        }
    }

    &--white {
        background-color: $text01C;
        color: $text02C;

        &:hover {
         	background-color: #F3D54F;
        }
	}
	
	&--white-orange {
		border: 1px solid  $text01C;
        background-color: $text01C;
        color: #EF6800;

        &:hover {
			 background-color: #EF6800;
			 color: $text01C;
        }
	}
	
	&--orange-white {
		border: 1px solid  #EF6800;
        background-color: #EF6800;
        color: $text01C;

        &:hover {
			background-color: $text01C;
			color: #EF6800;
        }
	}

	&--yellow-white {
		background-color: #F3D54F;
        color: #273D8A;

        &:hover {
			background-color: $text01C;
        }
	}
	
	&--blue-brown {
        background-color: #273D8A;
        color: $text01C;

        &:hover {
			background-color: #85312C;
        }
	}

	&--white-red {
		border: 1px solid  $text01C;
        background-color: $text01C;
        color: #E30613;

        &:hover {
			background-color: #F3D54F;
			border: 1px solid  #F3D54F;
		}
	}

	&--red-brown {
		border: 1px solid  #E30613;
        background-color: #E30613;
        color: $text01C;

        &:hover {
			background-color: #85312C;
			border: 1px solid  #85312C;
		}
	}

    &--green {
        background-color: $btn03B;
        color: $text01C;

        &:hover {
            background-color: #33c13e;
        }
	}

	&--yellow-orange {
		background-color: #F2D44F;
        color: $textMainC;

        &:hover {
			background-color: #E4B02F;
        }
	}
	
	&--stock {
		border-radius: 0;
		font-size: 14px;
		min-width: auto;
		width: 100%;
		background: url("../img/stock.png") no-repeat center center;
		background-size: cover;

		span {
			position: relative;

			&:after {
				content: "";
				position: absolute;
				top: 50%;
				right: -12px;
				transform: translateY(-50%);
				width: 0;
				height: 0;
				border: {
					top: 4px solid transparent;
					left: 6px solid $bg02;
					bottom: 4px solid transparent;
				}
			}
		}
	}

	&--popup {
		min-width: auto;
		width: 100%;
	}

	&--red {
		background-color: #FE0019;

		&:hover {
			background-color: #ff2238;
		}
	}

	&--error {
		color: #6648AA;
	}
}

// Title----------------
.title {
	color: $text01C;
	font-size: 32px;
	line-height: 1em;
	text-align: center;
	font-family: $nexascriptBold;

    &--main {
        font-size: 44px;
        font-family: $futuraNewBold;
        text-transform: uppercase;
	}
	
	&--yellow {
		color: #F3D54F;
	}

    &--color-main {
        color: $textMainC;
    }

    &--center {
        text-align: center;
    }

	&--prize {
		font-size: 21px;
		font-family: $futuraNewBold;
	}

	&--winner {
		color: $textMainC;
	}

	&--popup {
		color: $text02C;
		font-size: 28px;
		font-family: $futuraNewBold;
	}

	&--mine {
		font-size: 1.5em;
	}

	&--info {
		font-size: 24px;
	}

	&--other {
		color: $textMainC;
		font-size: 40px;
	}

	&--error {
		font-size: 45px;

		@include sm {
			font-size: 32px;
		}

		@include xs {
			font-size: 28px;
		}
	}
}

// Subtitle---------------
.subtitle {
	margin-top: 15px;
	text-align: center;
	font-family: $dinProMed;
	color: $text01C;

	&--fz21 {
		margin-top: 1.2em;
		font-size: 1em;
	}
}

// Text-----------------
.text {

    &--white {
        color: #ffffff;
	}

	&--red {
        color: #E61801;
	}

	&--orange {
		color: #EF6800;
	}

	&--blue {
		color: #273D8A;
	}

	&--link {
		color: $link01C;
	}

	&--link02 {
		color: $link02C;
	}

	&--fz12 {
        font-size: 12px;
	}

    &--fz13 {
        font-size: 13px;
	}
	
	&--fz14 {
        font-size: 14px;
    }

    &--fz15 {
        font-size: 15px;
	}
	
	&--fz18 {
        font-size: 18px;
    }

    &--fz16 {
        font-size: 16px;
    }

    &--fz21 {
        font-size: 21px;
	}

	&--fz24 {
        font-size: 24px;
	}
	
	&--fz28 {
        font-size: 28px;
    }

    &--fz30 {
        font-size: 30px;
    }

    &--fz38 {
        font-size: 38px;
    }

    &--fz40 {
        font-size: 40px;
    }

    &--upper {
        text-transform: uppercase;
    }

    &--center {
        text-align: center;
	}
	
	&--right {
        text-align: right;
    }

    &--futuraNewBold {
        font-family: $futuraNewBold;
    }

    &--dinProMed {
        font-family: $dinProMed;
	}

	&--dinProBold {
        font-family: $dinProBold;
	}

    &--mt10 {
        margin-top: 10px;
    }

	&--mt15 {
        margin-top: 15px;
    }

    &--mt25 {
        margin-top: 25px;
    }

    &--lh28 {
        line-height: 28px;
    }

    &--lh21 {
        line-height: 21px;
	}
	
	&--underline {
		text-decoration: underline;
	}

	&--pr20 {
		padding-right: 20px;
	}
}

// Dropdown-----------------
.dropdown {
	position: relative;

	&__inner {
		position: absolute;
		top: 120%;
		left: 0;
		right: 0;
		max-height: 0;
		overflow: hidden;
		transition: max-height .4s ease;
		border-radius: 10px;
		box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
	}

	&__list {
		background-color: $bg02;
		padding: 10px 0;
		text-align: center;

		li {

			&:hover {
				background-color: #f6f2eb;

				& > * {
					background-color: #f6f2eb;
				}
			}
		}
	}
}

.form {

	&--popup {
		margin-top: 25px;

		input {
			padding: .6em 1.2em;
		}

		.input-wrap {

			&:nth-child(n+2) {
				margin-top: 15px;
			}
		}
	}
}

input,
textarea {
	display: block;
	font-family: $dinProMed;
	font-size: 16px;
	line-height: 1em;
	border: 1px solid $bg01;
	border-radius: 1.5em;
	padding: .6em .9em;
	color: $text02C;
	max-width: 280px;
	width: 100%;
}

.input-wrap {

	&--checkbox {
		margin-top: 20px !important;
		margin-left: 15px;
	}

	&__tooltip {
		font-size: 12px;
		font-family: $dinProMed;
		line-height: 1em;
		margin-bottom: 5px;
		padding-left: 20px;

		&--center {
			text-align: center;
			padding-left: 0;
		}

		&--main {
			color: $text01C;
		}
	}
}

.checkbox {
	display: none;

	&:checked {

		& ~ .checkbox-text:after {
			opacity: 1;
		}
	}
}

.checkbox-text {
	display: block;
	padding-left: 35px;
	cursor: pointer;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 25px;
		height: 25px;
		border-radius: 10px;
		border: 1px solid $bg01;
		@include transitionEase(.2s);
	}

	&:after {
		content: "";
		width: 8px;
		height: 15px;
		border: {
			bottom: 2px solid $textMainC;
			right: 2px solid $textMainC;
		}
		transform: rotate(40deg) translateY(-80%);;
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 1px;
		opacity: 0;
		transition: opacity .2s ease;
	}
}

.captcha {
	background-color: $bg03;
	margin: 20px -15px 0;
	padding: 10px 15px 20px;

	&__wrap {
		margin-top: 15px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	&__img {
		flex-shrink: 0;

		img {
			max-height: 40px;
		}
	}

	.icon-arrowSlider {
		font-size: 10px;
		
		&:before {
			color: $textMainC;
		}
	}

	&__send {
		margin-top: 0 !important;
	}
	
	&__input {
		max-width: 100px;
	}
}

.search {
	display: block;
	position: relative;

	button {
		background-color: transparent;
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
		pointer-events: none;

		span {

			&:before {
				@include transitionEase(.2s);
			}
		}

		&.active {
			pointer-events: all;

			span {

				&:before {
					color: #F3D54F;
				}
			}
		}
	}
}

#calendar-wrap {
	position: relative;
}

.calendar {
	display: flex;
	align-items: flex-end;
	cursor: pointer;

	@include xs {
		margin-bottom: 20px;
	}

	&__input {
		font-size: 14px;
		font-family: $dinProReg;
		max-width: 68px;
		border-radius: 0;
		border: 0;
		border-bottom: 1px dashed $bg01;
		padding: 0;
		margin-left: 10px;
		cursor: pointer;
	}
}

// Datepicker-----------------
.datepickers-container {
	top: 30px;
	z-index: 2;

	@include xs {
		left: 50%;
		transform: translateX(-50%);
	}
}

.datepicker {
	font-size: 16px;
	max-width: 280px;
	padding: 15px 30px;
	box-shadow: none;
	border-radius: 25px;
	border: none;
	background-color: $bg03;
	color: $textMainC;
	font-family: $dinProMed;

	@include xs {
		padding: 15px 20px;
	}

	&--pointer {
		display: none;
	}

	&.active {
		left: -25px !important;

		@include xs {
			left: 50% !important;
			transform: translateX(-50%);
		}
	}

	&--nav {
		border-bottom: none;
		justify-content: center;
	}

	&--nav-title {
		pointer-events: none;
		cursor: default;
		padding: 0 20px;
		text-transform: uppercase;
		font-family: $dinProBold;
		font-size: 15px;

		i {
			color: $text03C;
		}

		&:hover {
			background-color: $bg03;
		}
	}
	
	&--nav-action {
		height: 32px;
		border-radius: 50%;
		background-color: $bg02;

		&:hover {
			background-color: #85312c;

			svg {
	
				path {
					stroke: $bg02;
				}
			}
		}

		svg {
			border-radius: 50%;

			path {
				stroke: #85312c;
			}
		}
	}

	&--day-name {
		font-size: 12px;
		text-transform: none;
	}

	&--cell {
		border-radius: 50%;
		height: 34px;
		line-height: 16px;

		&.-focus- {
			background: $bg02;
		}

		&.-current- {
			color: $text02C;
		}

		&.-selected-.-focus- {
			background: $bg02;
		}

		&.-selected-,
		&.-current-.-selected- {
			background: $bg02;
			color: $textMainC;
		}
	}
}

// Notifications--------------------
.notification {
	font-size: 13px;
	font-family: $dinProMed;
	position: absolute;
	top: .7em;
	left: .7em;
	z-index: 2;

	@include md {
		display: none;
	}

	&__item {
		position: relative;
		padding: 0;
		background-color: rgba(255, 255, 255, .8);
		border-radius: 1.2em;
		max-width: 260px;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		max-height: 0;
		transition: opacity .3s 0s, visibility 0s .3s, max-height 0s .6s, padding 0s .6s;

		&:nth-child(n+2) {
			margin-top: 5px;
		}
		
		&.active {
			opacity: 1;
			visibility: visible;
			max-height: 100%;
			padding: 1.15em 2em 1.15em 1.5em;
			transition: opacity .3s 0s, visibility 0s 0s, max-height .3s .3s, padding 0s .6s;
		}
	}

	&__close {
		position: absolute;
		top: .7em;
		right: .7em;


		span {
			
			&:before {
				color: #FFAE00;
			}
		}
	}

	p {
		max-width: 200px;
	}
}

// Scroll---------------------
.popup__winners-table {

	.os-scrollbar-vertical {
		right: 0;
	}

	&.os-theme-dark > .os-scrollbar {
		background: #F0F0F0;
	}

	&.os-theme-dark > .os-scrollbar:hover > .os-scrollbar-track > .os-scrollbar-handle,
	&.os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle.active {
		background: #F3D54F;
	}

	&.os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
		background: #F3D54F;
	}
}

.os-scrollbar-vertical {
	right: 15px;
}

.os-theme-dark > .os-scrollbar {
	background: #fbde00;;
	padding: 0;
}

.os-theme-dark > .os-scrollbar-vertical {
	width: 6px;
}

.os-theme-dark > .os-scrollbar-horizontal {
	height: 6px;
}

.os-theme-dark > .os-scrollbar > .os-scrollbar-track {
	border-radius: 0;
}

.os-theme-dark > .os-scrollbar:hover > .os-scrollbar-track > .os-scrollbar-handle,
.os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle.active {
	background: #0094db;
}

.os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
	background: #0094db;
	border-radius: 0;
}

@keyframes leftTo {
	0% {
		left: 0;
	}

	25% {
		left: 2.5px;
	}

	50% {
		left: 5px;
	}

	75% {
		left: 2.5px;
	}

	100% {
		left: 0;
	}
}

// Slider elements
.swiper-button-prev,
.swiper-button-next,
.swiper-custom-button-prev,
.swiper-custom-button-next {

	&:hover {

		img,
		span {
			position: relative;
			animation: leftTo .5s ease alternate infinite;
		}
	}
}

.swiper-custom-button-prev,
.swiper-custom-button-next {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 9;
    cursor: pointer;
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
}

.swiper-custom-button-next {
    left: auto;
    right: 0;

    img {
        transform: rotate(180deg);
    }
}

// Parallax-----------------------
.coin-img {
	position: absolute;
	top: 0;
	user-select: none;

	&--first {
		right: 0;
		max-height: 1280px;
		min-width: 1200px;
	}

	&--second {
		left: 0;
		max-height: 700px;
		min-width: 300px;

		@include sm {
			left: -100px;
		}
	}

	&--third {
		right: 0;
		max-height: 1200px;
		min-width: 340px;

		@include sm {
			right: -250px;
		}
	}

	&--third-min {
		max-height: 640px;
		min-width: 340px;
	}

	&--fourth {
		top: -80px;
		right: 0;
		max-height: 900px;
		min-width: 235px;

		@include sm {
			display: none;
		}
	}
}

// Select2------------------------
.select2 {
	display: block;
}

.select2-container {
	width: 100% !important;
	max-width: 280px;

	&.select2-container--open {

		.select2-dropdown--below {
			box-shadow: 0px 15px 15px -5px rgba(50, 50, 50, .5);
		}

		.select2-dropdown--above {
			box-shadow: 0px -15px 15px -5px rgba(50, 50, 50, .5);
		}

		.select2-selection--single {

			.select2-selection__arrow {

				b {
					border-color: transparent transparent $bg01;
					border-width: 0 6px 8px;
				}
			}
		}
	}

	.select2-selection--single {
		height: 100%;
		text-align: left;
		border-radius: 10px;
		padding: 17px 19px;
		border: 1px solid $bg01;
		outline: none;
		border-radius: 1.5em;

		.select2-selection__rendered {
			line-height: 100%;
			padding-left: 0;
			font-family: $dinProMed;
			font-size: 16px;
			color: $text02C;

			.select2-selection__placeholder {
				color: $text02C;
			}
		}

		.select2-selection__arrow {
			top: 50%;
			right: 15px;
			transform: translateY(-50%);

			b {
				border-color: $bg01 transparent transparent;
				border-width: 8px 6px 0;
				margin-left: 0;
				margin-top: 0;
				transform: translate(-50%, -50%);
			}
		}
	}
}

.select2-dropdown {
	border-radius: 0;
	border: 1px solid $bg01;

	.select2-results__option[aria-selected=true] {
		background-color: #fff;
	}

	.select2-results__option--highlighted[aria-selected] {
		color: $text02C;
		background-color: $bg03;
	}
}

.select2-container--default {

	.select2-dropdown {
		
		.select2-search__field {
			border: 1px solid $bg01;
			padding: 5px;
		}

		.select2-results__options {
			-webkit-overflow-scrolling: touch;
			color: $text02C;
			font-size: 16px;
			max-height: 150px;
			font-family: $dinProMed;
		}
	}
}

.select2-results__option {
	padding: 10px 19px;
}

// Tooltips----------------
.tooltipster-fade {
    height: auto !important;
}

.tooltipster-sidetip {

	.tooltipster-box {
		background: $bg02;
		border: none;
		border-radius: 25px;
	}

	.tooltipster-content {
		border-radius: 25px;
		padding: 0;
	}
	
	.tooltipster-arrow {
		z-index: -1;
	}

	&.tooltipster-right .tooltipster-arrow-border {
		border-right-color: $bg02;
	}

	&.tooltipster-left .tooltipster-arrow-border {
		border-left-color: $bg02;
	}
	
	&.tooltipster-right .tooltipster-arrow-background {
		border-right-color: $bg02;
	}
	
	&.tooltipster-left .tooltipster-arrow-background {
		border-left-color: $bg02;
	}

	&.tooltipster-bottom .tooltipster-arrow-border {
		border-bottom-color: $bg02;
	}

	&.tooltipster-bottom .tooltipster-arrow-background {
		border-bottom-color: $bg02;
		border-right-color: transparent;
		border-left-color: transparent;
	}

	&.tooltipster-top .tooltipster-arrow-border {
		border-top-color: $bg02;
	}

	&.tooltipster-top .tooltipster-arrow-background {
		border-top-color: $bg02;
		border-right-color: transparent;
		border-left-color: transparent;
	}
}

// Errors---------------
.error {

	input,
	textarea,
	.select2-selection--single,
	.checkbox-text:before {
		transition: color .3s, border .3s;
		background-color: $bgError;
		border: 1px solid $errorC !important;
	}
}

label.error {
	display: none !important;
}

// IFRAME--------------
.js-popup-show {

	.iframe-wrap {
		display: block;
	}
}

.iframe-wrap {
	display: none;
	margin-top: 30px; 
}

.iframe {
	width: 100%;
	min-height: 350px;
}