html,
body {
	height: 100%;
}

body {
	font-family: $dinProReg;
	font-size: 16px;
	color: $textMainC;
}

.height-helper {
	display: flex;
	flex-direction: column;
	height: 0;
	min-height: 100%;
}

.container {
    width: 100%;
    padding: 0 15px;
    max-width: 1325px;
    margin: 0 auto;

    &--min {
        max-width: 660px;
    }

    &--medium {
        max-width: 1100px;
	}
	
	&--par {
		position: relative;
		z-index: 6;
	}
}

.no-scroll {
	overflow-y: scroll;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
