@font-face {
    font-family: 'DINPro-Regular';
    src: url('../fonts/dinpro/DINPro-Regular.eot');
    src: local('☺'), url('../fonts/dinpro/DINPro-Regular.woff') format('woff'), url('../fonts/dinpro/DINPro-Regular.ttf') format('truetype'), url('../fonts/dinpro/DINPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro-Medium';
    src: url('../fonts/dinpro/DINPro-Medium.eot');
    src: local('☺'), url('../fonts/dinpro/DINPro-Medium.woff') format('woff'), url('../fonts/dinpro/DINPro-Medium.ttf') format('truetype'), url('../fonts/dinpro/DINPro-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro-Bold';
    src: url('../fonts/dinpro/DINPro-Bold.eot');
    src: local('☺'), url('../fonts/dinpro/DINPro-Bold.woff') format('woff'), url('../fonts/dinpro/DINPro-Bold.ttf') format('truetype'), url('../fonts/dinpro/DINPro-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaNewBold';
    src: url('../fonts/futuranew/FuturaNewBold.eot');
    src: local('☺'), url('../fonts/futuranew/FuturaNewBold.woff') format('woff'), url('../fonts/futuranew/FuturaNewBold.ttf') format('truetype'), url('../fonts/futuranew/FuturaNewBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa_scriptbold';
    src: url('../fonts/nexascript/nexa_script_bold.eot');
    src: url('../fonts/nexascript/nexa_script_bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/nexascript/nexa_script_bold.woff2') format('woff2'),
        url('../fonts/nexascript/nexa_script_bold.woff') format('woff'),
        url('../fonts/nexascript/nexa_script_bold.ttf') format('truetype'),
        url('../fonts/nexascript/nexa_script_bold.svg#nexa_scriptbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot?30wq46');
    src: url('../fonts/icomoon/icomoon.eot?30wq46#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf?30wq46') format('truetype'),
        url('../fonts/icomoon/icomoon.woff?30wq46') format('woff'),
        url('../fonts/icomoon/icomoon.svg?30wq46#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-why .path1:before {
    content: "\e901";
    color: rgb(255, 45, 0);
}

.icon-why .path2:before {
    content: "\e902";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-play:before {
    content: "\e903";
    color: #fff;
}

.icon-person:before {
    content: "\e904";
    color: #fbde00;
}

.icon-kinky:before {
    content: "\e907";
    color: #fbde00;
}

.icon-gift:before {
    content: "\e908";
    color: #fbde00;
}

.icon-enter:before {
    content: "\e909";
    color: #85312c;
}

.icon-close:before {
    content: "\e90a";
    color: #fff;
}

.icon-calendar:before {
    content: "\e90b";
    color: #0094db;
}

.icon-arrowSlider:before {
    content: "\e90c";
    color: #fff;
}

.icon-Search-icon:before {
	content: "\e900";
	color: #0094db;
}

.icon-i:before {
	content: "\e905";
	color: #fff;
}

.icon-to-main-mob-icon:before {
	content: "\e906";
	color: #85312c;
}