.footer {
	background-color: $bg02;
	flex-shrink: 0;
	color: $footerC;
	padding: 25px 0 15px;
	text-align: center;

	&__info-text {
		max-width: 800px;
		width: 100%;
		text-align: center;
		margin: 0 auto 30px;

		&--lenta {
			font-style: 18px;
			color: #85312c;
		}
	}

	&__list {
		display: flex;
		justify-content: center;
		font-size: 14px;
		font-family: $dinProMed;

		li {

			&:nth-child(n+2) {
				margin-left: 40px;
			}
		}

		a {
			text-decoration: underline;
			@include transitionEase(.2s);

			&:hover {
				color: $link01C;
				text-decoration: none;
			}
		}

		@include sm {
			flex-direction: column;
			align-items: center;

			li {

				&:nth-child(n+2) {
					margin-left: 0;
					margin-top: 25px;
				}
			}
		}
	}

	&__logo {
		margin-top: 30px;

		img {
			max-height: 55px;
		}
	}

	&__text {
		margin-top: 25px;
		font-size: 11px;
	}
}