.header {

	&__top {
		background-image: linear-gradient(270deg, #ffae00 0%, #fbde00 100%);
		padding-bottom: 15px;
		position: relative;
		z-index: 5;
		height: 50px;

		&--other {
			background-image: linear-gradient(270deg, #E4B02F 0%, #FFCD3C 100%);;
		}
	}

	&__top-inner {
		display: flex;
		justify-content: space-between;
		opacity: 1;
		visibility: visible;
		transition: opacity .8s 0s, visibility 0s 0s;

		&--hidden {
			opacity: 0;
			visibility: hidden;
			max-height: 33px;
			overflow: hidden;
		}
	}

	&__nav {
		background-color: $bg02;
		padding: 20px 0;
		z-index: 4;
		position: relative;
	}

	&__nav-inner {
		font-size: 15px;
		text-transform: uppercase;
		font-family: $dinProBold;

		&--other {

			.nav__link {
				display: flex;
				position: relative;
				padding-left: 12px;

				.icon-to-main-mob-icon {
					display: none;
					
					&:before {
						transition: color .3s ease;
					}
				}

				&:before {
					content: "";
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					width: 0;
					height: 0;
					border: {
						top: 4px solid transparent;
						right: 8px solid #85312c;
						bottom: 4px solid transparent;
					}
					transition: border .3s ease;
				}

				&:hover {

					&:before {
						border: {
							top: 4px solid transparent;
							right: 8px solid $activeC;
							bottom: 4px solid transparent;
						};
					}

					.icon-to-main-mob-icon:before {
						color: $activeC;
					}
				}

				@include xs {
					.icon-to-main-mob-icon {
						display: block;
					}

					span:not(.icon-to-main-mob-icon) {
						display: none;
					}
				}
			}
		}
	}

	&__logo {
		position: absolute;
		top: 5px;
		left: 50%;
		transform: translateX(-50%);

		&:after {
			content: "";
			position: absolute;
			z-index: -1;
			bottom: -9px;
			left: 50%;
			transform: translateX(-50%);
			background: url("../img/wave.png") no-repeat center center;
			background-size: contain;
			width: 290px;
			height: 50px;
		}

		img {
			max-height: 85px;
		}
	}
}

.shop-list {
	display: flex;
	align-items: flex-start;
	width: 88%;
	flex-wrap: wrap;

	&__dropdown {
		display: inline-block;
		margin-left: 10px;

		@include xxs {
			margin-left: 0;
		}

		.shop-link {
			padding: 10px 20px;
			max-width: none;
			min-width: auto;
			border-radius: 0;

			&:nth-child(n+2) {
				margin-left: 0;
			}
		}
	}

	&__btn-dropdown {
		display: block;
		padding: 5px 25px 5px 10px;
		background-color: $bg02;
		border-radius: 0 0 10px 10px;
		position: relative;
		min-width: 150px;
		max-width: 150px;

		&:after {
			content: "";
			position: absolute;
			top: 8px;
			right: 10px;
			transform: rotate(45deg);
			width: 10px;
			height: 10px;
			border: {
				bottom: 2px solid #ffae00;
				right: 2px solid #ffae00;
			}
		}
	}

	img {
		max-height: 20px;
	}

	.hidden {
		display: none;
	}
}

.shop-link {
	background-color: $bg02;
	border-radius: 0 0 10px 10px;
	display: inline-block;
	min-width: 120px;
	max-width: 120px;
	padding: 5px 20px;
	text-align: center;
	min-height: 33px;
	transition: min-height .2s ease;

	&:nth-child(n+2) {
		margin-left: 10px;
	}

	&:hover {
		min-height: 35px;
	}
}

.shop-item {

	&--disable {
		pointer-events: none;
		opacity: .5;
	}
}

.languages {
	flex-shrink: 0;
	margin-left: 10px;
	padding-left: 10px;
	font-size: 12px;

	@include xs {
		margin-left: 5px;
	}

	&__btn-dropdown {
		display: flex;
		align-items: center;
	}

	&__text {
		color: $text01C;
	}

	&__img {
		margin-left: 10px;
		padding: 5px 10px;
		background-color: $bg02;
		border-radius: 0 0 10px 10px;

		img {
			max-height: 20px;
		}
	}

	&__choose {
		justify-content: space-between;

		.languages__img {
			background-color: transparent;
		}
	}

	&__name {
		padding-left: 10px;
	}

    &--custom-position {
        position: absolute;
        margin-left: 0;
        padding-left: 0;
        top: 0;
        right: 0;

        &.dropdown {
            position: absolute;
        }
    }
}

.nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__list {
		display: flex;
		align-items: center;

		li {

			&:nth-child(n+2) {
				margin-left: 25px;

				@include lg {
					margin-left: 12px;
				}
			}
		}
	}

	&__link {
		transition: color .3s ease;

		&:hover {
			color: $activeC;
		}

		&.active {
			color: $activeC;
		}
	}
}

.wrap-login {

	&--mobile {
		display: none;
	}

	&.active {

		.logged-in {
			display: flex;
		}

		.login {
			display: none;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		transition: color .3s ease;

		&:hover {
			color: $activeC;

			.icon-enter {

				&:before {
					color: $activeC;
				}
			}
		}

		.icon-enter {
			font-size: 15px;
			margin-right: 2px;

			&:before {
				transition: color .3s ease;
			}
		}

		&--order {

			.icon-enter {
				order: 1;
				margin-right: 0;
				margin-left: 5px;
			}
		}
	}
}

.logged-in {
	display: none;
}

%burger {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	background-color: #85312c;
	height: 2px;
}

.burger-menu {
	display: none;
	align-items: center;

	&__line {
		position: relative;
		width: 16px;
		height: 12px;

		span {
			@extend %burger;
			transform: translateY(-50%);
			@include transitionEase(.3s);

			&:before,
			&:after {
				content: "";
				@extend %burger;
				top: 0;
				transform: translateY(-5px);
				@include transitionEase(.3s);
			}

			&:after {
				transform: translateY(5px);
			}
		}
	}

	&__text {
		margin-left: 5px;
		@include transitionEase(.3s);
	}

	&.active {

		.burger-menu__line {

			span {
				height: 0;
				background-color: $activeC;

				&:before {
					transform: rotate(-45deg);
					background-color: $activeC;
				}

				&:after {
					transform: rotate(45deg);
					background-color: $activeC;
				}
			}
		}

		.burger-menu__text {
			color: $activeC;
		}
	}
}
