// MAX-WIDTH --------------------
@media (max-width: 1199px) {
	.coin-img--magnit {
		right: -100px;
	}

    .head {

        &__gold-pic {
            margin-left: -60px;
        }

        &__title {

            .text {
                font-size: 30px;
			}
			
			&--magnit {

				.text:first-child {
					font-size: 16px;
				}
				
				.text {
					font-size: 24px;
				}
			}
        }

        &__countdown {
            margin-top: 20px;
        }

        &__chocolate {
            padding-bottom: 50px;

            img {
                max-width: 370px;
			}
        }

        &__bottom-text {
            bottom: 12px;
            width: 290px;
        }

        &--custom {
			padding-bottom: 0;
			
			.head__chocolate--animate {
				height: 12.5em;
			}
        }
    }

    .title {

        &--main {
            font-size: 32px;
        }
    }

    .promo-info {

        .swiper-custom-button-next {
            right: 15px;
        }

        .swiper-custom-button-prev {
            left: 15px;
        }
    }
	
	// Section----------------
	.section {

		&__mountain-gold {
			max-height: 500px;
		}

		&__mountain03 {
			left: -200px;
		}
	
		&__mountain04 {
			right: -200px;
		}
	}
}

@media (max-width: 991px) {
    .head {

        &::before {
            width: 170vw;
        }

        &__inner {
            flex-direction: column;
            align-items: center;
        }

        &__gold-pic {
            margin-left: 0;
            width: 70%;
        }

        &__gold-img {
            width: 45%;
            bottom: -8%;
        }

        &__content {
            padding-top: 0;
            margin-top: 50px;
		}
		
		&__chocolate-img {
	
			&--first {
				left: 10%;
			}
	
			&--second {
				left: 30%;
			}
	
			&--third {
				left: 45%;
			}
	
			&--fourth {
				left: 60%;
			}
	
			&--fifth {
				left: 76%;
			}
		}

        &--custom {
            padding-bottom: 0;

            .head__countdown {
                position: fixed;
                bottom: 10px;
                right: 10px;
                top: auto;
                left: auto;
                z-index: 7;
            }

            .head__gold-pic {
                margin-left: 0;
                width: 70%;
            }

            .head__gold-img {
                bottom: -8%;
            }

            .head__content {
                padding-top: 0;
            }
        }
    }

    .steps {

        &__bg {

            &::before {
                width: 3000px;
            }
        }

        &__content {
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 20px;
        }

        &__card {
            width: 35%;
            margin-top: 30px;
        }
    }

    .prize-main {

        &::before,
        &::after {
            width: 3000px;
        }

        &::before {
            background-size: auto;
        }

        &__card {
            padding: 0 5px;

            .text--fz21 {
                font-size: 18px;
            }
        }
    }

    .promo-info {

        &__text {
            padding-left: 10px;

            br {
                display: none;
            }
        }

        &__card {
            justify-content: center;
        }
    }
	
	.winners-main {
		padding: 75px 0 0;

		&:before,
		&:after {
			height: 75px;
		}
	}

	.prizes-list {
		max-width: 700px;
	}

    // Header------------------
    .header {

        &__nav-inner {
            display: flex;
            align-items: center;
			justify-content: space-between;
			
			&--other {
				display: block;

				.nav {
					position: static;
					z-index: 0;
					top: auto;
					left: auto;
					right: auto;
					display: flex;
					padding: 0;
					transform: translateY(0%);
					transition: none;
					animation: none;

					&__list {
						display: flex;
			
						li {
			
							&:nth-child(n+2) {
								margin-left: 25px;
								margin-top: 0;
							}
						}

						&:last-child {

							li {
								margin-top: 0;
			
								&.wrap-login {
									margin-top: 0;
								}
			
								&:nth-child(n+2) {
									margin-left: 25px;
								}
							}
						}
					}
				}
			}
        }
    }

    @keyframes opacityNav {
        0% {
            opacity: 0;
        }

        70% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: -1;
        background-color: $bg02;
        padding: 70px 40px;
        display: block;
        transform: translateY(-150%);
        transition: transform .4s ease, background-color 0s 0s ease;
        animation: opacityNav .5s;

        &.active {
            transform: translateY(0%);
            background-color: #f6f2eb;
            transition: transform .4s ease, background-color .3s .4s ease;
        }

        &__list {
            display: block;

            li {

                &:nth-child(n+2) {
                    margin-left: 0;
                    margin-top: 25px;
                }
            }

            &:last-child {

                li {
                    margin-top: 25px;

                    &.wrap-login {
                        margin-top: 40px;
                    }

                    &:nth-child(n+2) {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    .burger-menu {
        display: flex;
        position: relative;
    }

    .wrap-login {

        &--mobile {
            display: block;
            position: relative;
        }
	}
	
	// Section----------------
	.section {

		&__mountain-gold {
			min-width: 800px;
		}

		&__mountain03 {
			max-height: 350px;
		}
	
		&__mountain04 {
			max-height: 250px;
		}
	}

	// Profile----------------
.profile {

	&__empty {
		display: none;
	}

	&__info {
		text-align: left;
	}

	&__point-text {
		
		p {
			display: inline;
		}
	}
}

    // Prizes----------------
    .prizes {
        flex-direction: column;
        align-items: center;

        &__item {
            flex: auto;
            max-width: 255px;
            width: 100%;

            &:nth-child(n+2) {
                margin-top: 40px;
            }
        }
    }

    // Products-----------------
    .products {
        max-width: 800px;
        flex-wrap: wrap;
        justify-content: space-around;

        &__item {
            width: 50%;

            &:nth-child(n+3) {
                margin-top: 50px;
            }
        }

        &__logo {
            margin-top: 20px;

        }
    }
}

@media (max-width: 767px) {
    .head {

        &::before {
            width: 1300px;
        }

        &__gold-pic {
            width: 100%;
        }

        &--custom {

            &::before {
                width: 1300px;
            }

            .head__gold-pic {
                width: 100%;
            }
        }
    }

    .title {

        &--main {
            font-size: 28px;
        }
    }

    .steps {

        &__card {
            width: 100%;
        }
    }

    .statistics {

        &__card {

            .text--fz38 {
                font-size: 25px;
                margin-top: 10px;
            }

            .text--fz15 {
                font-size: 14px;
            }
        }
    }

    .prize-main {
        padding: 55px 0 80px;

        .swiper-custom-button-prev,
        .swiper-custom-button-next {
            opacity: 1;
            pointer-events: visible;
        }
	}

	.prizes-main {
		padding-bottom: 85px;
	}
	
	.prizes-list {
		flex-direction: column;
		align-items: center;

		li {
			margin-top: 50px;
		}
	}

    .promo-info {
		
		&__slide-inner {
			padding: 55px 0 50px;
		}

        &__text {
            width: 100%;
            max-width: 370px;
            padding-left: 0;
            margin-top: 40px;

            .text {
                width: 100%;
            }
        }

        &__card {
            flex-wrap: wrap;
        }

        &__img {
            width: 100%;
            padding: 0 50px;
        }

        .swiper-custom-button-next, .swiper-custom-button-prev {
            top: 35%;
        }
    }

    // Header------------------
    .header {

        &__logo {

            img {
                max-height: 65px;
            }

            &:after {
                bottom: -14px;
                width: 160px;
                height: 35px;
            }
        }
	}
	
	// Section----------------
	.section {

		&__mountain03 {
			left: -350px;
		}
	
		&__mountain04 {
			right: -350px;
		}
	}

	// Profile----------------
	.profile {

		&__name {
			font-size: 18px;

			span {
				display: block;
			}
		}

		&__data-info {
			display: block;
		}
	
		&__data-phone {
			display: block;
			margin-left: 0;
			margin-top: 5px;
		}

		&__info-point {
			flex-direction: column;
		}

		&__point {
			align-self: flex-end;
		}

		&__point-img {

			img {
				max-height: 50px;
			}
		}

		&__point-num {
			margin: 0 0 0 5px;
		}

		&__text-point {
			margin-top: 10px;

			p {
				display: inline;
			}
		}
	}

    // Prizes----------------
    .prizes {

        &__item {

            &:nth-child(n+2) {
                margin-top: 30px;
            }
        }
    }

    // Winners--------------
    .winners {

        &__info-top {
            padding: 0 40px;
        }

        &__info-table {
            margin-top: 20px;
            margin-left: 40px;
        }

        // &__slider {
        //     margin: 30px -15px 0;

        //     .swiper-slide {
        //         width: auto;
        //         min-width: 250px;
        //     }
        // }
    }

    // Table---------------
    .table {
        border-spacing: 0;

        tbody {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        tr {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
            padding: 15px 30px;

            &:nth-child(odd) {
                background-color: #f6f2eb;
            }
        }

        td {
            white-space: nowrap;
        }

        &__name,
        &__phone {
            display: block;
            width: 50%;
        }

        &__prize {
            margin-top: 5px;
            width: 100%;
        }
    }
}

@media (max-width: 479px) {
    .head {

        &::before {
            border-bottom: 35px solid #fff;
        }

        &__gold-pic {
            width: calc(100vw + 30px);
            margin-left: -20px;
        }

        &__gold-img {
            left: 13%;
        }

        &__logo {

            img {
                width: 80px;
            }
        }

        &__title {

            .text {
                font-size: 18px;
                max-width: 300px;
                margin: 0 auto;
			}
			
			&--magnit {

				.text {
					margin: 10px auto 0;
				}
			}

            br {
                display: none;
            }

            &__countdown {

                & > .text {
                    font-size: 14px;
                }
            }
        }

        &__content {
            margin-top: 40px;
        }

        &__bottom-text {
            bottom: 5px;
            width: 215px;
        }

        &__chocolate {

            img {
                max-width: 280px;
            }
        }

        &--custom {
            margin-bottom: 0;

            .head__gold-pic {
                width: calc(100vw + 30px);
                margin-left: -20px;
            }

            .head__countdown {
                left: 10px;
                background-image: linear-gradient(270deg, #FFAE00 0, #FBDE00);
			}
			
			.head__chocolate--animate {
				font-size: 15px;
			}
        }
    }

    .countdown {

        &--custom {

            .countdown__card {
                color: #ffffff;
            }
        }
    }

    .title {

        &--main {
            font-size: 24px;
        }
    }

    .steps {

        &__card {

            .text--fz21 {
                font-size: 18px;
            }
        }
    }

    .statistics {

        &__inner {
            flex-wrap: wrap;
        }

        &__card {

            & + .statistics__card {
                margin-top: 30px;
            }
        }
    }

    .promo-info {

        .swiper-custom-button-next,
        .swiper-custom-button-prev {
            top: 60vw;
		}
		
		&__img {

			img {
				max-height: 170px;
			}
		}
    }

    .countdown {

        &__card + .countdown__card {
            margin-left: 10px;
        }
    }

    // Winners--------------
    .winners {

        &__info-top {
            padding: 0 30px;
            flex-direction: column;
        }

        &__info-table {
            margin-left: 0;
            padding-right: 0;
        }
    }

    .os-scrollbar-vertical {
        right: 0;
    }

    // Products-----------------
    .products {
        flex-direction: column;

        &__item {
            width: 100%;

            &:nth-child(n+3) {
                margin-top: 0;
            }

            &:nth-child(n+2) {
                margin-top: 60px;
            }
        }
	}
	
	// Feedback-------------------
	.feedback {
		display: block;

		&__col {
			width: 100%;

			&:nth-child(n+2) {
				margin-top: 10px;
			}
		}

		input,
		.select2-container,
		textarea {
			max-width: none;
		}

	}
}
