// Transition
@mixin transitionEase($time) {
	transition: all $time ease;
}

// Placeholder
@mixin input-placeholder {
	&.placeholder { @content; }
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&:-ms-input-placeholder { @content; }
	&::-webkit-input-placeholder { @content; }
}

// Media 
@mixin xxs { @media screen and (max-width: #{$screen-xxs-max}) {@content;} }
@mixin xs { @media screen and (max-width: #{$screen-xs-max}) {@content;} }
@mixin sm { @media screen and (max-width: #{$screen-sm-max}) {@content;} }
@mixin md { @media screen and (max-width: #{$screen-md-max}) {@content;} }
@mixin lg { @media screen and (max-width: #{$screen-lg-max}) {@content;} }