@keyframes opacityStars {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.popup {
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $bgPopup;
	opacity: 0;
	z-index: -1;
	visibility: hidden;
	transition: opacity .3s 0s, visibility 0s .3s, z-index 0s .3s;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	display: flex;
	align-items: flex-start;

	&--slider {

		.popup__wrap {
			max-width: 980px;
		}
	}

	&--game {
		transition: opacity .8s 0s, visibility 0s .8s, z-index 0s .8s;
		
		&.game-ready {
			opacity: 1;
			z-index: 10;
			visibility: visible;
			transition: opacity .8s 0s, visibility 0s 0s, z-index 0s 0s;
		}
	}

	&--search-winners {
		background-color: rgba(133, 49, 44, .8);
	}

	&--width500 {
		
		.popup__wrap {
			max-width: 500px;
		}

		.popup__search {

			.input-wrap {
				max-width: 275px;
				width: 100%;
				margin: 0 auto;
			}
		}

		.popup__table {

			td {
				@include xs {
					font-size: 10px;
				}
			}
		}
	}

	&--lenta {
		background-color: rgba(#13358D, .7);
	}

	&--game-mine,
	&--start,
	&--entrance-mine,
	&--popup--game-prize {
		position: absolute;
	}
	
	&.js-popup-show {
		opacity: 1;
		z-index: 10;
		visibility: visible;
		transition: opacity .3s 0s, visibility 0s 0s, z-index 0s 0s;

		.popup__wrap {
			transform: translateY(0);
		}
	}

	&__wrap {
		position: relative;
        max-width: 300px;
        width: 100%;
		transform: translateY(-40px);
		transition-duration: .3s;
		margin: auto;
		display: flex;
		flex-direction: column;

		&--game {
			max-width: 1000px;
			transform: translateY(0);
			transition-duration: 0s;
			display: block;
			background: url("../img/bg-game.jpg") no-repeat center center;
			background-size: cover;
			overflow: hidden;
			box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, .75);

			&:hover {

				.icon-i,
				.icon-close {
					will-change: opacity;
				}
			}
		}

		&--game-mine {
			max-width: 1000px;
			height: 100%;
			transform: translateY(0);
			transition-duration: 0s;
			display: block;
			background: url("../img/mine-bg.jpg") no-repeat center center;
			background-size: cover;
			overflow: hidden;
			font-size: 21px;

			@include sm {
				font-size: 18px;
			}
		
			.js-close-popup {
				position: absolute;
				margin: 0;
				top: 10px;
				left: 10px;
			}
			
			.popup__inner {
				background-color: transparent;
				padding: 2.4em 0 5.2em;
				height: 0;
				min-height: 100%;
				max-width: 28.5em;
				width: 100%;
				margin: 0 auto;
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-direction: column;

				@include sm {
					padding: 5.2em 0;
				}
			}
		}
	}

	&__inner {
		background-color: $bg02;
		border-radius: 20px;
		padding: 20px 15px 30px;

		&--bg {
			background: url("../img/popup-bg.png") no-repeat center center;
			background-size: cover;
		}
	}

	&__close {
		align-self: flex-end;
		position: relative;
		display: inline-block;
		width: 30px;
		height: 30px;
		margin-right: 15px;
    	margin-bottom: 5px;

		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
			width: 35px;
			height: 6px;
			background-color: $bg02;
		}

		&:after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}

		&--game {
			margin: 0;
			align-self: flex-start;
		}
	}

	&__logo {
		text-align: center;

		img {
			max-height: 60px;
		}
	}

	&__img {
		text-align: center;
		
		img {
			max-height: 100px;
		}
	}

	&__search {
		margin: -20px -15px;
		padding: 20px 15px;
		background-color: #F3D54F;
		border-radius: 20px 20px 0 0;

		input {
			border: 1px solid #fff;
			color: $textMainC;
		}

		.icon-Search-icon {

			&:before {
				color: $textMainC;
			}
		}
	}

	&__winners-table {
		margin-top: 40px;
		height: 350px;
	}

	&__table {
		width: 100%;
		font-size: 15px;
		font-family: $dinProMed;
		border-collapse: collapse;

		tr {

			&:nth-child(n+2) {

				td {
					padding-top: 1em;
				}
			}
		}
	}

	&__game-top {
		position: relative;
		z-index: 1;
		padding: 20px 20px 0;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		@include sm {
			padding: 10px 10px 0;
		}
	}

	&__game-points {
		color: $text01C;
		
		li {

			&:nth-child(n+2) {
				margin-top: 15px;

				@include sm {
					margin-top: 5px;
				}
			}

			@include sm {
				.text {

					span {
						display: block;
					}
				}
			}
		}
	}

	&__point {
		margin-top: 5px;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		&--min {

			.popup__point-img {
				
				&:before {
					display: none;
				}

				img {
					max-height: 30px;
				}
			}

			.popup__point-num {
				margin: 0 5px;
				font-size: 20px;
			}
		}

		&--tooltip {
			margin-top: 0;
			justify-content: center;

			.popup__point-img {

				&:before {
					display: none;
				}

				img {
					max-height: 25px;
				}
			}

			.popup__point-num {
				font-family: $dinProBold;
				margin: 0 5px;
				font-size: 30px;
			}
		}

		&--popup {
			justify-content: center;

			&:before {
				display: none;
			}

			img {
				max-height: 50px;
			}
		}
	}

	&__point-img {
		position: relative;

		&:before {
			content: "";
			position: absolute;
			z-index: -1;
			top: -30px;
			left: -45px;
			background: url("../img/shine.png") no-repeat center center;
			background-size: contain;
			width: 115px;
			height: 105px;
		}

		img {
			display: block;
			max-height: 60px;
		}
	}

	&__point-num {
		font-family: $dinProBold;
		font-size: 50px;
		line-height: 1em;
		margin: 0 8px;
	}

	&__game-main {
		position: relative;
	}

	&__main-mountain {
		margin-top: -200px;
		margin-bottom: -5px;
		min-width: 1350px;
		margin-left: 50%;
		transform: translateX(-50%);

		@include sm {
			margin-top: -115px;
			min-width: 1100px;
		}
	}

	&__mountain01 {
		position: absolute;
		bottom: 0;
		left: -275px;
		max-height: 430px;
		min-width: 710px;
		pointer-events: none;

		@include md {
			left: -350px
		}

		@include sm {
			left: -500px
		}
	}

	&__mountain02 {
		position: absolute;
		bottom: -10px;
		right: -400px;
		max-height: 430px;
		min-width: 900px;
		pointer-events: none;

		@include md {
			right: -475px
		}

		@include sm {
			right: -650px
		}
	}

	&__game-box {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		font-size: 23px;
		font-family: $dinProBold;
		max-width: 15.2em;
		width: 100%;

		@include xs {
			font-size: 20px;
		}
	}

	&__game-list {
		display: flex;
		align-items: flex-start;
		flex-direction: row-reverse;

		&--first {
			justify-content: space-between;
		}

		&--second {
			margin-top: 1.5em;
		}
	}

	&__game-item {
		position: relative;

		&--first {
			margin-right: .5em;
			margin-top: 1.8em;

			@include sm {
				margin-top: 1.5em;
			}

			&:before {
				content: "";
				position: absolute;
				top: -.87em;
				left: -145%;
				background: url("../img/ropes01.png") no-repeat center center;
				background-size: contain;
				width: 7.5em;
				height: 2.17em;
			}
		}

		&--second {

			&:before {
				content: "";
				position: absolute;
				z-index: -1;
				top: -4em;
				right: -154%;
				background: url("../img/ropes02.png") no-repeat center center;
				background-size: contain;
				width: 9em;
				height: 4.8em;
			}
		}

		&--third {
			margin-left: 2.8em;
			margin-top: 3em;

			&:before {
				content: "";
				position: absolute;
				top: -3.1em;
				left: -72%;
				background: url("../img/ropes03.png") no-repeat center center;
				background-size: contain;
				width: 5.8em;
				height: 4em;
			}
		}
	}

	&__game-item-img {
		position: absolute;
		z-index: -1;
		top: 95%;
		left: -.87em;
		max-height: 8.26em;

		&--other {
			max-height: 5em;
			top: 85%;
			left: .87em;
		}
	}

	&__game-inner {
		position: relative;

		&--close {

			.popup__level-bg--close {
				display: block;
			}

			.popup__status-img-craft {
				display: none;
			}

			.popup__level-info {
				cursor: default;
			}
		}

		&--open {

			.popup__level-bg--open {
				display: block;
			}

			.popup__level-status {

				img {
					display: none;
				}
			}

			.popup__level-line-wrap {

				&:after {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 5.4em;
					height: 2.4em;
					background: url("../img/stars.png");
					background-size: contain;
					animation: opacityStars 1s ease alternate infinite;
				}
			}
		}

		&--craft {

			.popup__level-bg--craft {
				display: block;
			}

			.popup__status-img-close {
				display: none;
			}

			.popup__level-line-wrap {
				display: none;
			}
		}

		&--none {

			.popup__level-bg--craft {
				display: block;
			}

			.popup__level-status {

				img {
					display: none;
				}
			}

			.popup__level-info {
				cursor: default;
			}

			.popup__level-line-wrap {
				display: none;
			}
		}

		&--old {

			.popup__level-bg--old {
				display: block;
				max-height: 5.5em;
			}

			.popup__level-status {

				img {
					display: none;
				}
			}

			.popup__level-info {
				cursor: default;
			}

			.popup__level-line-wrap {
				display: none;
			}
		}
	}

	&__level-bg {
		max-height: 5em;
		display: none;
	}

	&__level-info {
		padding: .4em 0 .65em;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
	}

	&__level {
		color: #FBDE00;
		font-size: 1em;
		line-height: 1em;
	}

	&__level-status {
		width: 100%;
		text-align: center;

		img {
			margin-bottom: .1em;
			max-height: 1.08em;
		}
	}

	&__level-line-wrap {
		position: relative;
		width: 100%;
		border-radius: .43em;
		border: .087em solid #703D1A;
		background-color: #703D1A;
	}

	&__level-line-inner {
		width: 100%;
		border-radius: .43em;
		border: .087em solid #26150F;
		background-color: #26150F;
		overflow: hidden;
	}

	&__level-line {
		height: .348em;
		width: 50%;
		border-radius: .43em;
		background-image: linear-gradient(360deg, #FFAE00 0%, #FBDE00 100%);
	}

	&__game-img {
		margin-top: -30px;
		text-align: center;

		img {
			max-height: 100px;
		}
	}

	&__game-tooltip {
		position: absolute;
		z-index: 1;
		top: -.435em;
		right: -.117em;
		display: none;

		&.popup__game-tooltip--active {
			display: block;
		}
	}

	&__game-tooltip-btn {
		cursor: pointer;
		position: relative;
		width: 1.043em;
		height: 1.043em;
		border-radius: 50%;
		background-color: $bg01;
		box-shadow: 0px .087em .174em rgba(0, 0, 0, .5);

		&.active {

			.icon-close {
				opacity: 1;
			}

			.icon-i {
				opacity: 0;
			}
		}

		%lookbtn {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: opacity .3s ease;
		}

		.icon-i {
			@extend	%lookbtn;
			font-size: .5em;
		}

		.icon-close {
			@extend	%lookbtn;
			font-size: .5em;
			opacity: 0;
		}
	}

	&__game-tooltip-templates {
		display: none;
	}

	&__game-tooltip-inner {
		font-size: 13px;
		text-align: center;
		border-radius: 25px;
		color: $textMainC;
	}

	&__game-tooltip-top {
		padding: 20px 10px;
		background-color: $bg02;
	}

	&__game-tooltip-title {
		font-family: $dinProMed;
		line-height: 1em;

		&--big {
			font-family: $dinProBold;
			font-size: 1.15em;
		}
	}

	&__game-tooltip-text {
		padding: 1em 1em 0;
		font-family: $dinProMed;
		font-size: 1em;
		line-height: 1em;

		p:nth-child(n+2) {
			margin-top: 1em;
		}
	}

	&__game-tooltip-point {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 10px;

		&--error {
			flex-wrap: wrap;
			color: #F61205;

			.popup__point-num {
				display: none;
			}

			.popup__point-need {

				span:not(.popup__point-need-num) {
					display: none;
				}
			}

			.popup__point-need-num {
				color: #F61205;
			}
		}
	}

	&__point-text-error {
		margin-top: 5px;
		width: 100%;
		font-size: 13px;
		line-height: 1em;
		font-family: $dinProMed;
	}

	&__point-need {
		font-family: $dinProBold;
		color: #FFEA04;
		font-size: 20px;
		line-height: 1em;
	}

	&__point-need-num {
		font-size: 32px;
		line-height: 1em;
	}

	&__game-tooltip-bottom {
		padding: 20px 10px;
		background-color: #F6F2EB;
	}

	&__game-prizes {
		margin-top: 10px;
		display: flex;
		justify-content: center;

		li {

			&:nth-child(n+2) {
				margin-left: 10px;
			}
		}
	}

	&__game-prize-img {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		background-color: $bg02;
		margin: 0 auto;

		img {
			max-height: 20px;
		}
	}

	&__game-prize-name {
		max-width: 55px;
		width: 100%;
		margin: 5px auto 0;
		font-size: 10px;
		line-height: 1em;
	}

	&__mine-list {
		display: flex;
		justify-content: center;
		align-items: center;

		&--top {

			@include sm {
				margin-bottom: 1.8em;
			}
		}

		&--bottom {
			position: relative;
			top: .286em;
			z-index: 1;
		}

		li {

			&:nth-child(n+2) {
				margin-left: .23em;
			}
		}

		a {
			display: block;
		}

		img {
			max-height: 6.1em;

			@include sm {
				max-height: 5.1em;
			}
		}
	}

	&__mine-mountain {
		position: absolute;
		bottom: 0;
		left: 50%;
		min-width: 1000px;
		width: 100%;
		transform: translateX(-50%);

		&--top {
			bottom: .238em;
			max-height: 12.429em;

			@include sm {
				bottom: 1em;
			}
		}

		&--bottom {
			max-height: 5.381em;
		}
	}
}