// Media
$screen-xxs-max: 369px;
$screen-xs-max: 479px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

// Fonts
$dinProReg: 'DINPro-Regular', sans-serif;
$dinProMed: 'DINPro-Medium', sans-serif;
$dinProBold: 'DINPro-Bold', sans-serif;
$futuraNewBold: 'FuturaNewBold', sans-serif;
$nexascriptBold: 'nexa_scriptbold', sans-serif;

// Colors
$textMainC: #85312c;
$text01C: #ffffff;
$text02C: #0094db;
$text03C: #FFAE00;
$footerC: #4d1d85;
$activeC: #0094db;
$errorC: #ff2d00;
$link01C: #0094db;
$link02C: #ff2d00;
$btn01C: #0094db;
$btn02C: #ffffff;

// Backgrounds
$btn01B: #0094db;
$btn02B: #ffffff;
$btn03B: #2fad3a;
$bg01: #0094db;
$bg02: #ffffff;
$bg03: #FFEA04;
$bgError: #FEECEC;
$bgSection01: linear-gradient(to top, #74d6ed 0%, #00aee9 100%);
$bgSection02: linear-gradient(270deg, #ffae00 0%, #fbde00 100%);
$bgSection03: linear-gradient(180deg, #ff1d0a 0%, #ff5546 51%, #ff1d0a 100%);
$bgPopup: rgba(0, 148, 219, 0.7);
