body {
	max-width: 260px;
	width: 100%;
	margin: 0 auto;
	color: #85312c;
	font-size: 16px;
	padding: 0;
}

h1,
h3 {
	color: #0094db;
	font-size: 28px;
	line-height: 1em;
	text-align: center;
	margin-top: 0;
	margin-bottom: 30px;
	font-weight: 700;
}

h2 {
	display: none;
}

h3 {
	font-size: 18px;
	margin-top: 20px;
    margin-bottom: 10px;
}

.block {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;

	&::-webkit-scrollbar-track {
		background-color: #F6F2EB;
	}

	&::-webkit-scrollbar {
		width: 8px;
		background-color: #F6F2EB;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #0094db;
	}
}

.upload {
	width: 100%;
	margin: 0;
}

.simple-photo-block,
.upload-sample {
	text-align: center;
}

.img-thumbnail {
	max-height: 1000px;
}

.btn-primary,
.btn-success {
	display: block;
	text-align: center;
	color: #ffffff;
	font-size: 15px;
	text-transform: uppercase;
	line-height: 1em;
    padding: .85em 1.1em;
	border-radius: 1.6em;
	min-width: 13.3em;
	transition: all .2s ease-out;
	background-color: #0094db;
	border-color: transparent;
	border: none;
	outline: none;
	overflow: hidden;
	text-overflow: ellipsis;

		&:hover,
		&:focus,
		&:active,
		&:active:hover,
		&:active:focus {
			background-color: #009fea;
			border-color: transparent;
			outline: none;
        }
}

.choose-file {
	overflow: hidden;
	text-overflow: ellipsis;
	color: #0094db;
	background-color: #FFEA04;

	&:hover,
	&:focus,
	&:active,
	&:active:hover,
	&:active:focus {
		background-color: #FFEA17;
		color: #0094db;
		border-color: transparent;
		outline: none;
	}
	
	input {
		display: none;
	}
}

.upload-sample {
	margin-top: 30px;
}

.upload-main,
.upload-sample {
	padding: 0;
}

.receipt-photo {
	
	&:last-child {
		margin-bottom: 30px;
	}
}

.delete-photo {
	text-align: center;
	color: #ffffff;
	font-size: 16px;
	line-height: 1em;
	padding: .5em .8em;
	border-radius: 1.6em;
	transition: all .2s ease-out;
	background-color: #0094db;
	border-color: transparent;
	border: none;
	outline: none;
	right: 0;

	&:hover,
		&:focus,
		&:active,
		&:active:hover,
		&:active:focus {
			background-color: #009fea;
			border-color: transparent;
			outline: none;
        }
}

footer {
	display: none;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons {
	width: 250px !important;
	left: 50% !important;
	transform: translateX(-50%);
}

.qr-parameters {

	span {
		font-size: 12px;
		line-height: 1em;
		margin-bottom: 5px;
		padding-left: 20px;
	}
}

.form-control {
	display: block;
	font-size: 16px;
	line-height: 1em;
	border: 1px solid #0094db;
	border-radius: 1.5em;
	padding: .6em .9em;
	color: #0094db;
	max-width: 280px;
	width: 100%;
	height: auto;
}